<div class="kern-kopfzeile">
  <div class="kern-container">
    <div class="kern-kopfzeile__content">
      <span class="kern-kopfzeile__flagge" aria-hidden="true">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 16">
          <path fill="#000" d="M0 .5h24v5.333H0z" />
          <path fill="red" d="M0 5.833h24v5.333H0z" />
          <path fill="#FACA2C" d="M0 11.167h24V16.5H0z" />
        </svg>
      </span>
      <span class="kern-kopfzeile__label">
        Offizielle Website – Bundesrepublik Deutschland
      </span>
    </div>
  </div>
</div>
<header class="kern-stack">
  <div
    class="kern-container kern-flex-sm kern-justify-content-between kern-align-items-center"
  >
    <img
      src="/images/dd-blk-adaptive.svg"
      alt="Offizielles Zeichen von Bund, Ländern und Kommunen: der Bundesadler in den Farben Schwarz-Rot-Gold."
      width="150"
      height="60"
      loading="eager"
    />
    <!-- <nav class="kern-flex kern-gap-md kern-align-items-center"> -->
    <!--   <a class="kern-link" href=""> -->
    <!--     <span class="kern-icon kern-icon--easy-language"></span> -->
    <!--     Leichte Sprache -->
    <!--   </a> -->
    <!--   <a class="kern-btn kern-btn--secondary" href=""> -->
    <!--     <span class="kern-label">Anmelden</span> -->
    <!--   </a> -->
    <!-- </nav> -->
  </div>
  <nav class="kern-container kern-flex kern-flex-wrap menu kern-gap-md">
    <a class="kern-link" href="">So geht’s</a>
    <a class="kern-link" href="/">Jetzt gründen</a>
  </nav>
</header>
