<div class="kern-stack kern-gap-xl">
  <div class="kern-stack container--clamp">
    {{#unless edit}} {{> progress step=step max=max section=section}}
    {{/unless}}
    <div>
      {{#if edit}}
      <p class="kern-preline">Bearbeiten</p>
      {{/if}}
      <h1 class="kern-heading-x-large">{{title}}{{#> title}}{{/title}}</h1>
      {{#> intro}}{{/intro}}
    </div>
    <form
      class="kern-stack kern-gap-xl"
      action="{{action}}{{#if edit}}?edit=true{{/if}}{{#if redirect}}&redirect={{redirect}}{{/if}}"
      method="post"
    >
      <div class="kern-fieldset__body">{{> @partial-block }}</div>
      <div class="kern-btn-wrapper kern-gap-lg">
        <button class="kern-btn kern-btn--primary">
          <span class="kern-label">
            {{#if edit}} Speichern {{else}} Weiter {{/if}}
          </span>
        </button>
        <!-- {{#if edit}} -->
        <!-- <button class="kern-btn kern-btn--secondary"> -->
        <!--   <span class="kern-label">Abbrechen</span> -->
        <!-- </button> -->
        <!-- {{/if}} -->
      </div>
    </form>
  </div>

  {{#isnt step "quick"}} {{#unless start}} {{#unless edit}}
  <div
    class="container--summary kern-stack kern-gap-lg"
    x-data="{ open: false }"
  >
    <button class="kern-link" x-on:click="open = ! open">
      <span
        class="kern-icon"
        x-bind:class="open ? 'kern-icon--arrow-up' : 'kern-icon--arrow-down'"
        aria-hidden="true"
      ></span>
      <span
        x-text="open ? 'Bisherige Antworten ausblenden' : 'Bisherige Antworten einblenden'"
        >Bisherige Antworten einblenden</span
      >
    </button>

    <div id="past-answers" x-show="open">{{>past-answers}}</div>
  </div>
  {{/unless}} {{/unless}} {{/isnt}}
</div>
