<!doctype html>
<html lang="de">
  <head>
    {{> head}}
  </head>
  <body>
    <a href="#content" class="kern-btn kern-btn--primary skip-to-content">
      <span class="kern-label">Skip to content</span>
      <span
        class="kern-icon kern-icon--arrow-forward"
        aria-hidden="true"
      ></span>
    </a>
    {{> header}}
    <div class="kern-container kern-py-xl">
      <div class="kern-flex-md">
        <div class="kern-stack kern-gap-xl kern-flex-1">
          {{#unless start}}
          <div>{{> back url=url}}</div>
          {{/unless}}
          <main id="content">{{{body}}}</main>
        </div>
        {{#unless start}}
        <aside class="">
          <a href="/antrag" class="kern-link">Zur Übersicht</a>
          {{> tree items=links}}
        </aside>
        {{/unless}}
      </div>
    </div>
    {{> footer}}
  </body>
</html>
