<!doctype html>
<html lang="de">
  <head>
    {{> head}}
  </head>
  <body>
    <a href="#content" class="kern-btn kern-btn--primary skip-to-content">
      <span class="kern-label">Skip to content</span>
      <span
        class="kern-icon kern-icon--arrow-forward"
        aria-hidden="true"
      ></span>
    </a>
    {{> header}}
    <div class="kern-container kern-py-xl">
      <div class="kern-stack gap-2xl">
        <div class="kern-stack kern-gap-xl kern-flex-1">
          {{> steps step=step}} {{#unless start}}
          <div>{{> back url=url}}</div>
          {{/unless}}
          <main id="content">{{{body}}}</main>
          {{#isnt currentSection "quick"}} {{#unless start}} {{#unless edit}} {{#if
          session.vorname }}
            <div
              class="container--summary kern-stack kern-gap-lg"
              {{#if answers }}
              x-data="{ open: true }"
              {{else}}
              x-data="{ open: false }"
              {{/if}}
            >
              <button class="kern-link" x-on:click="open = ! open">
                <span
                  class="kern-icon"
                  x-bind:class="open ? 'kern-icon--arrow-up' : 'kern-icon--arrow-down'"
                  aria-hidden="true"
                ></span>
                <span
                  x-text="open ? 'Bisherige Antworten ausblenden' : 'Bisherige Antworten einblenden'"
                  >Bisherige Antworten einblenden</span
                >
              </button>

              <div id="past-answers" x-show="open">{{>past-answers}}</div>
            </div>
          {{/if }}{{/unless}} {{/unless}} {{/isnt}}
        </div>
      </div>
    </div>
    {{> footer}}
  </body>
</html>

<!-- {{#unless start}} {{#unless edit}} -->
<!-- <aside class=""> -->
<!--   <a href="/antrag" class="kern-link kern-mb-lg">Zur Übersicht</a> -->
<!--   {{> tree items=pageTree}} -->
<!-- </aside> -->
<!-- {{/unless}} {{/unless}} -->
