{{#> question edit=edit step=5 max=6 section="Persönliche Angaben" title="Wo
wohnen Sie?" action="/person/adresse"}}

<div class="kern-fieldset__body">
  <div class="kern-flex kern-flex-wrap kern-gap-md">
    <div class="kern-form-input kern-flex-grow">
      <label class="kern-label" for="strasse">Straße und Hausnummer</label>
      <input
        class="kern-form-input__input"
        id="strasse"
        name="strasse"
        type="text"
        value="{{ session.strasse }}"
      />
    </div>
  </div>
  <div class="kern-flex kern-flex-wrap kern-gap-md">
    <div
      class="kern-form-input kern-flex-shrink-0 kern-w-"
      style="width: 12rem"
    >
      <label class="kern-label" for="plz">Postleitzahl</label>
      <input
        class="kern-form-input__input"
        id="plz"
        name="plz"
        type="text"
        value="{{ session.plz }}"
      />
    </div>
    <div class="kern-form-input kern-flex-grow">
      <label class="kern-label" for="ort">Ort</label>
      <input
        class="kern-form-input__input"
        id="ort"
        name="ort"
        type="text"
        value="{{ session.ort }}"
      />
    </div>
  </div>
</div>
{{/question}}
