<div class="kern-stack kern-gap-lg">
  <!-- <img -->
  <!--   src="/images/bundid-adaptive.svg" -->
  <!--   alt="" -->
  <!--   width="134" -->
  <!--   height="36" -->
  <!--   loading="eager" -->
  <!-- /> -->
  <div>
    <h2 class="kern-heading-x-large">Mit BundID anmelden?</h2>
    <div class="kern-stack kern-gap-sm">
      <p class="kern-body">
        Wenn Sie sich mit Ihrer BundID anmelden, können wir einige Daten für Sie
        vorausfüllen.
      </p>
      <p class="kern-body">
        Für die Anmeldung brauchen Sie einen Online-Ausweis (mit PIN) oder ein
        ELSTER-Zertifikat.
      </p>
      <p class="kern-body">
        Sie können diesen Schritt auch später noch nachholen.
      </p>
    </div>
  </div>

  <form class="kern-stack kern-gap-xl" action="/person/bundid" method="post">
    <fieldset class="kern-fieldset">
      <legend class="kern-label">Wie möchten Sie fortfahren?</legend>
      <div class="kern-fieldset__body">
        <div class="kern-form-check">
          <input
            class="kern-form-check__radio"
            id="bundid-ja"
            type="radio"
            value="ja"
            checked
            name="bundidbool"
          /><label class="kern-label" for="bundid-ja"
            >mit BundID anmelden</label
          >
        </div>
        <div class="kern-form-check">
          <input
            class="kern-form-check__radio"
            id="bundid-nein"
            type="radio"
            value="nein"
            name="bundidbool"
          /><label class="kern-label" for="bundid-nein">später anmelden</label>
        </div>
      </div>
    </fieldset>
    <div class="kern-btn-wrapper">
      <button class="kern-btn kern-btn--primary">
        <span class="kern-label">Weiter</span>
      </button>
    </div>
  </form>
</div>
