<div class="kern-stack">
  {{> progress step=1 max=6 url="/person/bundid" section="Persönliche Angaben"}}
  <div>
    {{#if edit}}
      <p class="kern-preline">Bearbeiten</p>
    {{/if}}
    <h2 class="kern-heading-x-large">Wie heißen Sie?</h2>
  </div>
  {{#if edit}}
    <form
      class="kern-stack kern-gap-xl"
      action="/person/name?edit=true"
      method="post"
    >
  {{else}}
    <form
      class="kern-stack kern-gap-xl"
      action="/person/name"
      method="post"
    >
  {{/if}}
    <div class="kern-fieldset__body">
      <div class="kern-form-input">
        <label class="kern-label" for="vorname">Vorname</label>
        <input
          class="kern-form-input__input"
          id="vorname"
          name="vorname"
          type="text"
          value="{{#if session.vorname}}{{ session.vorname }}{{else}}Kim{{/if}}"
        />
      </div>
      <div class="kern-form-input">
        <label class="kern-label" for="nachname">Nachname</label>
        <input
          class="kern-form-input__input"
          id="nachname"
          name="nachname"
          type="text"
          value="{{#if session.nachname}}{{ session.nachname }}{{else}}Beyer{{/if}}"
        />
      </div>
      <div class="kern-form-input">
        <label class="kern-label" for="geburtsname"
          >Geburtsname
          <span class="kern-label__optional">- Optional</span></label
        >
        <input
          class="kern-form-input__input"
          id="geburtsname"
          name="geburtsname"
          type="text"
          value="{{ session.geburtsname }}"
        />
      </div>
    </div>
    <div class="kern-btn-wrapper">
      <button class="kern-btn kern-btn--primary">
        <span class="kern-label">

  {{#if edit}}
            Speichern
  {{else}}
            Weiter

  {{/if}}
          </span>
      </button>
    </div>
  </form>
</div>
