{{#> question edit=edit step=1 max=6 section="Persönliche Daten" title="Wie
heißen Sie?" action="/person/name"}}
<div class="kern-fieldset__body">
  <div class="kern-form-input">
    <label class="kern-label" for="vorname">Vorname</label>
    <input
      class="kern-form-input__input"
      id="vorname"
      name="vorname"
      type="text"
      value="{{#if session.vorname}}{{ session.vorname }}{{else}}Kim{{/if}}"
    />
  </div>
  <div class="kern-form-input">
    <label class="kern-label" for="nachname">Nachname</label>
    <input
      class="kern-form-input__input"
      id="nachname"
      name="nachname"
      type="text"
      value="{{#if session.nachname}}{{ session.nachname }}{{else}}Beyer{{/if}}"
    />
  </div>
  <div class="kern-form-input">
    <label class="kern-label" for="geburtsname"
      >Geburtsname <span class="kern-label__optional">- Optional</span></label
    >
    <input
      class="kern-form-input__input"
      id="geburtsname"
      name="geburtsname"
      type="text"
      value="{{ session.geburtsname }}"
    />
  </div>
</div>
{{/question}}
