{{#> question edit=edit step=4 max=6 section="Persönliche Daten" title="Haben
Sie eine deutsche Staatsangehörigkeit?" action="/person/staatsangehoerigkeit"}}
<div class="kern-fieldset__body">
  <div class="kern-form-check">
    <input
      class="kern-form-check__radio"
      id="staatsangehoerigkeit-ja"
      type="radio"
      value="ja"
      name="staatsangehoerigkeitbool"
      checked
    /><label class="kern-label" for="staatsangehoerigkeit-ja">Ja</label>
  </div>
  <div class="kern-form-check">
    <input
      class="kern-form-check__radio"
      id="staatsangehoerigkeit-nein"
      type="radio"
      value="nein"
      name="staatsangehoerigkeitbool"
    /><label class="kern-label" for="staatsangehoerigkeit-nein">Nein</label>
  </div>
</div>
{{/question}}
