<div class="kern-stack">
  {{> progress step=7 max=7 section="Persönliche Angaben"}}
  <div class="kern-stack kern-gap-xl">
    <div>
      <h2 class="kern-heading-x-large">
        Wie lautet Ihre Steuer-Identifikationsnummer?
      </h2>
      <p class="kern-body">
        Die 11-stellige Steuer-Identifkationsnummer ist Ihre persönliche Nummer
        für das Finanzamt. Sie bleibt lebenslang gültig.
      </p>
      <p class="kern-body">
        Hinweis: Sie finden Ihre Steuer-Identifkationsnummer auf fast jedem
        Brief vom Finanzamt oder auf Ihrer Lohnabrechnung.
      </p>
      <a
        class="kern-link"
        target="_blank"
        href="https://www.bzst.de/DE/Privatpersonen/SteuerlicheIdentifikationsnummer/steuerlicheidentifikationsnummer_node.html"
      >
        Mehr Informationen
      </a>
    </div>
    <form class="kern-stack kern-gap-xl" action="/person/status" method="post">
      <div class="kern-fieldset__body">
        <div class="kern-form-input">
          <label class="kern-label" for="steuerid"
            >Steuer-Identifikationsnummer</label
          >
          <input
            class="kern-form-input__input"
            id="steuerid"
            name="steuerid"
            type="text"
            inputmode="numeric"
            value="{{ session.steuerid }}"
          />
        </div>
      </div>
      <div class="kern-btn-wrapper">
        <button class="kern-btn kern-btn--primary">
          <span class="kern-label">Weiter</span>
        </button>
      </div>
    </form>
  </div>
</div>
