<div class="kern-stack container--clamp gap-2xl">
  <div class="kern-stack">
    {{#> banner variant="danger"}}
    <h1 class="kern-heading-x-large">Online-Antrag nicht möglich</h1>
    <p class="kern-body">Dieser Service unterstützt Ihr Vorhaben noch nicht.</p>
    {{/banner }}
    <div>
      <p class="kern-body">
        Wir arbeiten noch an Schneller Gründen. Daher sind noch nicht alle
        Funktionen verfügbar. Schritt für Schritt kommen neue Funktionen dazu.
        Wann welche Funktionen verfügbar sein werden, finden Sie in der
        öffentlichen Roadmap.
      </p>
    </div>
  </div>
  <div>
    <h2 class="kern-heading-large">Das können Sie jetzt tun</h2>
    <p class="kern-body">
      Sie können Ihr Gewerbe bei Ihrem Gewerbeamt anmelden.
    </p>
  </div>
</div>
