<div class="kern-stack container--clamp gap-2xl">
  <div class="kern-stack">
    {{#> banner variant="danger"}}
    <h1 class="kern-heading-x-large">Online-Antrag nicht möglich</h1>
    <p class="kern-body">Dieser Service unterstützt Ihr Vorhaben noch nicht.</p>
    {{/banner }}
    <div>
      <p class="kern-body">
        Wir arbeiten noch an Schneller Gründen. Daher sind noch nicht alle
        Funktionen verfügbar. Schritt für Schritt kommen neue Funktionen dazu.
        Wann welche Funktionen verfügbar sein werden, finden Sie in der
        öffentlichen Roadmap.
      </p>
    </div>
  </div>
  <div class="kern-stack">
    <div>
      <h2 class="kern-heading-large">Das können Sie jetzt tun</h2>
      <p class="kern-body">
        Sie können Ihr Gewerbe bei Ihrem Gewerbeamt anmelden.
      </p>
    </div>
    <article class="kern-card">
      <div class="kern-card__container">
        <header class="kern-card__header">
          <hgroup>
            <p class="kern-preline">Ihr Gewerbeamt</p>
            <h2 class="kern-title">
              Ordnungsamt Friedrichshain-Kreuzberg Gewerbe
            </h2>
          </hgroup>
        </header>
        <section class="kern-card__body">
          <p class="kern-body">Juliusstraße 67 <br />12051 Berlin</p>
          <p class="kern-body">+4930902396699</p>
          <a href="#" class="kern-link">
            ordnungsamt@bezirksamt-neukoelln.de
          </a>
        </section>
      </div>
    </article>
  </div>
</div>
