<div class="kern-stack container--clamp kern-gap-xl">
  {{#> banner variant="success"}}
  <h2 class="kern-heading-x-large">Online-Antrag möglich</h2>
  <p class="kern-body">
    Sie können den Gewerbeantrag online ausfüllen und einreichen.
  </p>
  {{/banner }}

  <div class="kern-stack">
    <h2 class="kern-heading-large">
      Schritt für Schritt zu Ihrer Gewerbeanmeldung
    </h2>
    <div>
      <h3>1: Antrag ausfüllen</h3>
      <p class="kern-body">
        Bitte beantworten Sie die Fragen in den folgenden Schritten. Aus Ihren
        Angaben wird automatisch ein Antrag erstellt.
      </p>
    </div>
    <div>
      <h3>2: Dokumente zusammenstellen (optional)</h3>
      <p class="kern-body">
        Sie werden auf Dokumente hingewiesen, die benötigt werden und können
        dieses direkt Ihrem Antrag beifügen.
      </p>
    </div>
    <div>
      <h3>3: Antrag absenden</h3>
      <p class="kern-body">
        Sie können Ihren Antrag direkt online bei Ihrem Gewerbe- und Finanzamt
        einreichen. Sie erhalten eine Bestätigung per E-Mail.
      </p>
    </div>
  </div>

  <div class="kern-btn-wrapper">
    <a href="/antrag" class="kern-btn kern-btn--primary">
      <span class="kern-label">Weiter mit Online-Antrag</span>
    </a>
  </div>
</div>
