<div class="kern-stack container--clamp kern-gap-xl">
  {{#> banner variant="success"}}
  <h2 class="kern-heading-x-large">Kombi-Antrag möglich</h2>
  <p class="kern-body">
    Füllen Sie Ihren kombinierten Antrag für Steuernummer und Gewerbeanmeldung
    online aus. Reichen Sie ihn direkt ein.
  </p>
  {{/banner }}

  <!-- <div class="kern-stack"> -->
  <!--   <h2 class="kern-heading-large">Ihr Gewerbe Schritt für Schritt</h2> -->
  <!--   <ol class="timeline"> -->
  <!--     <li> -->
  <!--       <div class="timeline__counter"><span class="counter">1</span></div> -->
  <!--       <div class="timeline__content"> -->
  <!--         <h3 class="kern-heading-medium">Antrag ausfüllen</h3> -->
  <!--         <p class="kern-body"> -->
  <!--           Beantworten Sie alle Fragen. Der Antrag wird aus Ihren Antworten -->
  <!--           erstellt. -->
  <!--         </p> -->
  <!--       </div> -->
  <!--     </li> -->
  <!--     <li> -->
  <!--       <div class="timeline__counter"><span class="counter">2</span></div> -->
  <!--       <div class="timeline__content"> -->
  <!--         <h3 class="kern-heading-medium"> -->
  <!--           Dokumente zusammenstellen (optional) -->
  <!--         </h3> -->
  <!--         <p class="kern-body"> -->
  <!--           Sie erfahren, welche Dokumente Sie einreichen müssen. Sie können die -->
  <!--           Dokumente direkt hochladen. -->
  <!--         </p> -->
  <!--       </div> -->
  <!--     </li> -->
  <!--     <li> -->
  <!--       <div class="timeline__counter"><span class="counter">3</span></div> -->
  <!--       <div class="timeline__content"> -->
  <!--         <h3 class="kern-heading-medium">Antrag absenden</h3> -->
  <!--         <p class="kern-body"> -->
  <!--           Reichen Sie Ihren Antrag online bei Ihrem Gewerbeamt ein. Sie -->
  <!--           bekommen eine Bestätigung per E-Mail. -->
  <!--         </p> -->
  <!--       </div> -->
  <!--     </li> -->
  <!--   </ol> -->
  <!-- </div> -->

  <div class="kern-btn-wrapper">
    <a href="/antrag" class="kern-btn kern-btn--primary">
      <span class="kern-label">Weiter mit Kombi-Antrag</span>
    </a>
  </div>
</div>
