<div class="kern-stack gap-2xl container--clamp">
  <div class="kern-stack">
    <div>
      <h1 class="kern-heading-x-large">Vorab-Check für die Gewerbeanmeldung</h1>
      <p class="kern-body">
        Der Onlinedienst stellt Ihnen zuerst ein paar Fragen zu Ihrer Gründung.
        So wird überprüft, ob es für Ihren Fall ein zuständiges Gewerbeamt gibt,
        das am Pilotprojekt teilnimmt.
      </p>
      <p class="kern-body">
        Wenn es ein teilnehmendes Gewerbeamt gibt, können Sie mit der Gründung
        Ihres Unternehmens weitermachen.
      </p>
    </div>
    <div class="kern-btn-wrapper">
      <a href="/vorab-check/neugruendung" class="kern-btn kern-btn--primary">
        <span class="kern-label">Vorab-Check starten</span>
        <span
          class="kern-icon kern-icon--arrow-forward"
          aria-hidden="true"
        ></span>
      </a>
    </div>
  </div>
</div>
