<div class="kern-stack gap-2xl container--clamp">
  <div class="kern-stack">
    <div>
      <h1 class="kern-heading-x-large">Vorab-Check</h1>
      <p class="kern-body">
        Beantworten Sie zuerst allgemeine Fragen zu Ihrer Gründung. Sie
        erfahren, ob das für Sie zuständige Gewerbe- und Finanzamt am
        Pilotprojekt teilnehmen.
      </p>
      <p class="kern-body">
        Wenn Ihre Gewerbe- und Finanzamt teilnehmen, dann können Sie Ihr
        Unternehmen direkt gründen.
      </p>
    </div>
    <div class="kern-btn-wrapper">
      <a href="/vorab-check/neugruendung" class="kern-btn kern-btn--primary">
        <span class="kern-label">Vorab-Check starten</span>
        <span
          class="kern-icon kern-icon--arrow-forward"
          aria-hidden="true"
        ></span>
      </a>
    </div>
  </div>
</div>
