{{#> question edit=edit step=2 max=2 title="Welche Rechtsform soll Ihr
Unternehmen haben?" action="/vorab-check/rechtsform"}}
<div class="kern-fieldset__body">
  <div class="kern-form-check">
    <input
      class="kern-form-check__radio"
      id="rechtsform-einzelunternehmen"
      type="radio"
      value="einzelunternehmen"
      name="rechtsform"
      checked
    /><label class="kern-label" for="rechtsform-einzelunternehmen"
      >Einzelunternehmen</label
    >
  </div>
  <div class="kern-form-check">
    <input
      class="kern-form-check__radio"
      id="rechtsform-gmbh"
      type="radio"
      value="gmbh"
      name="rechtsform"
    /><label class="kern-label" for="rechtsform-gmbh"
      >GmbH – Gesellschaft mit beschränkter Haftung</label
    >
  </div>
  <div class="kern-form-check">
    <input
      class="kern-form-check__radio"
      id="rechtsform-gbr"
      type="radio"
      value="gbr"
      name="rechtsform"
    /><label class="kern-label" for="rechtsform-gbr"
      >GbR – Gesellschaft bürgerlichen Rechts</label
    >
  </div>
  <div class="kern-form-check">
    <input
      class="kern-form-check__radio"
      id="rechtsform-ohg"
      type="radio"
      value="ohg"
      name="rechtsform"
    /><label class="kern-label" for="rechtsform-ohg"
      >OHG – Offene Handelsgesellschaft</label
    >
  </div>
  <div class="kern-form-check">
    <input
      class="kern-form-check__radio"
      id="rechtsform-ug"
      type="radio"
      value="ug"
      name="rechtsform"
    /><label class="kern-label" for="rechtsform-ug"
      >UG – Unternehmergesellschaft</label
    >
  </div>
  <div class="kern-form-check">
    <input
      class="kern-form-check__radio"
      id="rechtsform-kg"
      type="radio"
      value="kg"
      name="rechtsform"
    /><label class="kern-label" for="rechtsform-kg"
      >KG – Kommanditgesellschaft</label
    >
  </div>
  <div class="kern-form-check">
    <input
      class="kern-form-check__radio"
      id="rechtsform-ag"
      type="radio"
      value="ag"
      name="rechtsform"
    /><label class="kern-label" for="rechtsform-ag"
      >AG – Aktiengesellschaft</label
    >
  </div>
</div>
{{/question}}
