<div class="kern-stack kern-gap-xl">
  <div class="kern-stack">
    <h2 class="kern-heading-x-large">Eingaben überprüfen</h2>
    <p class="kern-body kern-body--large">Bitte überprüfen Sie Ihre Angaben</p>

    <div class="kern-summary__header">
      <span class="kern-number">1</span>
      <h3 class="kern-title kern-title--small" id="title">
        Angaben zur Person
      </h3>
    </div>

    <div class="kern-summary-group">
      <div class="kern-summary">
        <div class="kern-summary__body">
          <dl class="kern-description-list">
            <div class="kern-description-list-item">
              <dt class="kern-description-list-item__key">Vorname</dt>
              <dd class="kern-description-list-item__value">
                {{session.vorname}}
              </dd>
            </div>
            <div class="kern-description-list-item">
              <dt class="kern-description-list-item__key">Nachname</dt>
              <dd class="kern-description-list-item__value">
                {{session.nachname}}
              </dd>
            </div>
            <div class="kern-summary__actions">
              <a href="/person/name" class="kern-link" aria-describedby="title">
                <span
                  class="kern-icon kern-icon--edit"
                  aria-hidden="true"
                ></span>
                Bearbeiten
              </a>
            </div>
          </dl>
        </div>
      </div>
    </div>

    <div class="kern-summary-group">
      <div class="kern-summary">
        <div class="kern-summary__body">
          <dl class="kern-description-list">
            <div class="kern-description-list-item">
              <dt class="kern-description-list-item__key">Geburtsname</dt>
              <dd class="kern-description-list-item__value">
                {{session.geburtsname}}
              </dd>
            </div>
            <div class="kern-summary__actions">
              <a
                href="/person/geburtsname"
                class="kern-link"
                aria-describedby="title"
              >
                <span
                  class="kern-icon kern-icon--edit"
                  aria-hidden="true"
                ></span>
                Bearbeiten
              </a>
            </div>
          </dl>
        </div>
      </div>
    </div>

    <div class="kern-summary-group">
      <div class="kern-summary">
        <div class="kern-summary__body">
          <dl class="kern-description-list">
            <div class="kern-description-list-item">
              <dt class="kern-description-list-item__key">Geburtstag</dt>
              <dd class="kern-description-list-item__value">
                {{session.tag}}.{{session.monat}}.{{session.jahr}}
              </dd>
            </div>
            <div class="kern-summary__actions">
              <a
                href="/person/geburtstag"
                class="kern-link"
                aria-describedby="title"
              >
                <span
                  class="kern-icon kern-icon--edit"
                  aria-hidden="true"
                ></span>
                Bearbeiten
              </a>
            </div>
          </dl>
        </div>
      </div>
    </div>

    <div class="kern-summary-group">
      <div class="kern-summary">
        <div class="kern-summary__body">
          <dl class="kern-description-list">
            <div class="kern-description-list-item">
              <dt class="kern-description-list-item__key">Geburtsort</dt>
              <dd class="kern-description-list-item__value">
                {{session.geburtsort}}
              </dd>
            </div>
            <div class="kern-description-list-item">
              <dt class="kern-description-list-item__key">Geburtsland</dt>
              <dd class="kern-description-list-item__value">
                {{session.geburtsland}}
              </dd>
            </div>
            <div class="kern-summary__actions">
              <a
                href="/person/geburtsort"
                class="kern-link"
                aria-describedby="title"
              >
                <span
                  class="kern-icon kern-icon--edit"
                  aria-hidden="true"
                ></span>
                Bearbeiten
              </a>
            </div>
          </dl>
        </div>
      </div>
    </div>

    <div class="kern-summary-group">
      <div class="kern-summary">
        <div class="kern-summary__body">
          <dl class="kern-description-list">
            <div class="kern-description-list-item">
              <dt class="kern-description-list-item__key">
                Staatsangehörigkeit
              </dt>
              <dd class="kern-description-list-item__value">
                {{session.staatsangehoerigkeit}}
              </dd>
            </div>
            <div class="kern-summary__actions">
              <a
                href="/person/staatsangehoerigkeit"
                class="kern-link"
                aria-describedby="title"
              >
                <span
                  class="kern-icon kern-icon--edit"
                  aria-hidden="true"
                ></span>
                Bearbeiten
              </a>
            </div>
          </dl>
        </div>
      </div>
    </div>

    <div class="kern-summary-group">
      <div class="kern-summary">
        <div class="kern-summary__body">
          <dl class="kern-description-list">
            <div class="kern-description-list-item">
              <dt class="kern-description-list-item__key">Straße</dt>
              <dd class="kern-description-list-item__value">
                {{session.strasse}} {{session.hausnummer}}
              </dd>
            </div>
            <div class="kern-description-list-item">
              <dt class="kern-description-list-item__key">Ort</dt>
              <dd class="kern-description-list-item__value">
                {{session.plz}} {{session.ort}}
              </dd>
            </div>
          </dl>
          <div class="kern-summary__actions">
            <a href="/person/plz" class="kern-link" aria-describedby="title">
              <span class="kern-icon kern-icon--edit" aria-hidden="true"></span>
              Bearbeiten
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="kern-summary-group">
      <div class="kern-summary">
        <div class="kern-summary__body">
          <dl class="kern-description-list">
            <div class="kern-description-list-item">
              <dt class="kern-description-list-item__key">
                Steuer-Identifikationsnummer
              </dt>
              <dd class="kern-description-list-item__value">
                {{session.steuerid}}
              </dd>
            </div>
            <div class="kern-summary__actions">
              <a
                href="/person/steuer-id"
                class="kern-link"
                aria-describedby="title"
              >
                <span
                  class="kern-icon kern-icon--edit"
                  aria-hidden="true"
                ></span>
                Bearbeiten
              </a>
            </div>
          </dl>
        </div>
      </div>
    </div>
  </div>

  <div class="kern-btn-wrapper">
    <a href="/antrag-gesendet" class="kern-btn kern-btn--primary">
      <span class="kern-label">Antrag absenden</span>
    </a>
  </div>
</div>
