<div class="container--clamp">
  <div class="kern-stack kern-gap-xl">
    <div>
      <h1 class="kern-heading-large">Antrag absenden</h1>
      <p class="kern-body">
        Sie können Ihren Antrag jetzt an ihr zuständiges Gewerbe- und Finanzamt
        senden.
      </p>
    </div>

    <div class="kern-stack">
      <article class="kern-card">
        <div class="kern-card__container">
          <header class="kern-card__header">
            <hgroup>
              <p class="kern-preline">Ihr Gewerbeamt</p>
              <h2 class="kern-title">
                Ordnungsamt Friedrichshain-Kreuzberg Gewerbe
              </h2>
            </hgroup>
          </header>
        </div>
      </article>
      <article class="kern-card">
        <div class="kern-card__container">
          <header class="kern-card__header">
            <hgroup>
              <p class="kern-preline">Ihr Finanzamt</p>
              <h2 class="kern-title">Finanzamt Friedrichshain-Kreuzberg</h2>
            </hgroup>
          </header>
        </div>
      </article>
    </div>

    <div class="kern-fieldset__body">
      <div class="kern-form-check">
        <input
          class="kern-form-check__checkbox"
          id="uebermittlung"
          name="tos"
          type="checkbox"
        />
        <label class="kern-label" for="uebermittlung"
          >Ich bin damit einverstanden, dass meine Daten an das zuständige
          Gewerbe- und Finanzamt übermittelt werden</label
        >
      </div>
      <div class="kern-form-check">
        <input
          class="kern-form-check__checkbox"
          id="datenschutz"
          name="tos"
          type="checkbox"
        />
        <label class="kern-label" for="datenschutz"
          >Ich akzeptiere die Bestimmungen zum Datenschutz.</label
        >
      </div>
    </div>

    <div class="kern-btn-wrapper">
      <a class="kern-btn kern-btn--primary" href="/antrag-gesendet">
        <span class="kern-label">Antrag absenden</span>
      </a>
    </div>
  </div>
</div>
