<div class="kern-stack">
  <h2 class="kern-heading-x-large">
    Ihr Antrag wurde erfolgreich eingereicht!
  </h2>
  <p class="kern-body kern-body--large">
    Wir haben Ihnen eine Bestätigung per Email zugeschickt.
  </p>
  <p class="kern-body kern-body--large">
    Wir haben Ihren Antrag an das Finanz- und Gewerbeamt weitergeleitet.
  </p>
  <p class="kern-body kern-body--large">
    Das Finanz- oder Gewerbeamt wird sich mit Ihnen in Verbindung setzen, um
    Ihre Registrierung zu bestätigen oder weitere Informationen anzufordern.
  </p>

  <a class="kern-link" href="#">Wie hat Ihnen dieser Service gefallen?</a>
</div>
