<div class="kern-stack kern-gap-xl">
  <div class="kern-stack">
    <h2 class="kern-heading-x-large">Eingaben überprüfen</h2>
    <p class="kern-body kern-body--large">Bitte überprüfen Sie Ihre Angaben</p>

    <div class="kern-summary__header">
      <span class="kern-number">1</span>
      <h3 class="kern-title kern-title--small" id="title">
        Angaben zur Person
      </h3>
    </div>

    <div class="kern-summary-group">
      <div class="kern-summary">
        <div class="kern-summary__body">
          <dl class="kern-description-list">
            <div class="kern-description-list-item">
              <dt class="kern-description-list-item__key">Vorname</dt>
              <dd class="kern-description-list-item__value">
                {{session.vorname}}
              </dd>
            </div>
            <div class="kern-description-list-item">
              <dt class="kern-description-list-item__key">Nachname</dt>
              <dd class="kern-description-list-item__value">
                {{session.nachname}}
              </dd>
            </div>
            <div class="kern-description-list-item">
              <dt class="kern-description-list-item__key">Geburtsname</dt>
              <dd class="kern-description-list-item__value">
                {{session.geburtsname}}
              </dd>
            </div>
            <div class="kern-summary__actions">
              <a href="/person/name" class="kern-link" aria-describedby="title">
                <span
                  class="kern-icon kern-icon--edit"
                  aria-hidden="true"
                ></span>
                Bearbeiten
              </a>
            </div>
          </dl>
        </div>
      </div>
    </div>

    <div class="kern-summary-group">
      <div class="kern-summary">
        <div class="kern-summary__body">
          <dl class="kern-description-list">
            <div class="kern-description-list-item">
              <dt class="kern-description-list-item__key">Geburtstag</dt>
              <dd class="kern-description-list-item__value">
                {{session.tag}}.{{session.monat}}.{{session.jahr}}
              </dd>
            </div>
            <div class="kern-summary__actions">
              <a
                href="/person/geburtstag"
                class="kern-link"
                aria-describedby="title"
              >
                <span
                  class="kern-icon kern-icon--edit"
                  aria-hidden="true"
                ></span>
                Bearbeiten
              </a>
            </div>
          </dl>
        </div>
      </div>
    </div>

    <div class="kern-summary-group">
      <div class="kern-summary">
        <div class="kern-summary__body">
          <dl class="kern-description-list">
            <div class="kern-description-list-item">
              <dt class="kern-description-list-item__key">Geburtsort</dt>
              <dd class="kern-description-list-item__value">
                {{session.geburtsort}}
              </dd>
            </div>
            <div class="kern-description-list-item">
              <dt class="kern-description-list-item__key">Geburtsland</dt>
              <dd class="kern-description-list-item__value">
                {{session.geburtsland}}
              </dd>
            </div>
            <div class="kern-summary__actions">
              <a
                href="/person/geburtsort"
                class="kern-link"
                aria-describedby="title"
              >
                <span
                  class="kern-icon kern-icon--edit"
                  aria-hidden="true"
                ></span>
                Bearbeiten
              </a>
            </div>
          </dl>
        </div>
      </div>
    </div>

    <div class="kern-summary-group">
      <div class="kern-summary">
        <div class="kern-summary__body">
          <dl class="kern-description-list">
            <div class="kern-description-list-item">
              <dt class="kern-description-list-item__key">
                Staatsangehörigkeit
              </dt>
              <dd class="kern-description-list-item__value">
                {{session.staatsangehoerigkeit}}
              </dd>
            </div>
            <div class="kern-summary__actions">
              <a
                href="/person/staatsangehoerigkeit"
                class="kern-link"
                aria-describedby="title"
              >
                <span
                  class="kern-icon kern-icon--edit"
                  aria-hidden="true"
                ></span>
                Bearbeiten
              </a>
            </div>
          </dl>
        </div>
      </div>
    </div>

    <div class="kern-summary-group">
      <div class="kern-summary">
        <div class="kern-summary__body">
          <dl class="kern-description-list">
            <div class="kern-description-list-item">
              <dt class="kern-description-list-item__key">Adresse</dt>
              <dd class="kern-description-list-item__value">
                {{session.strasse}} {{session.hausnummer}} <br />
                {{session.plz}} {{session.ort}}
              </dd>
            </div>
          </dl>
          <div class="kern-summary__actions">
            <a
              href="/person/adresse"
              class="kern-link"
              aria-describedby="title"
            >
              <span class="kern-icon kern-icon--edit" aria-hidden="true"></span>
              Bearbeiten
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="kern-summary-group">
      <div class="kern-summary">
        <div class="kern-summary__body">
          <dl class="kern-description-list">
            <div class="kern-description-list-item">
              <dt class="kern-description-list-item__key">
                Steuer-Identifikationsnummer
              </dt>
              <dd class="kern-description-list-item__value">
                {{session.steuerid}}
              </dd>
            </div>
            <div class="kern-summary__actions">
              <a
                href="/person/steuer-id"
                class="kern-link"
                aria-describedby="title"
              >
                <span
                  class="kern-icon kern-icon--edit"
                  aria-hidden="true"
                ></span>
                Bearbeiten
              </a>
            </div>
          </dl>
        </div>
      </div>
    </div>
  </div>

  <div class="kern-summary__header">
    <span class="kern-number">2</span>
    <h3 class="kern-title kern-title--small" id="title">
      Unternehmen &amp; Tätigkeit
    </h3>
  </div>

  {{#unless adresseAbweichend}}
  <div class="kern-summary-group">
    <div class="kern-summary">
      <div class="kern-summary__body">
        <dl class="kern-description-list">
          <div class="kern-description-list-item">
            <dt class="kern-description-list-item__key">Adresse</dt>
            <dd class="kern-description-list-item__value">
              {{session.strasse}} {{session.hausnummer}} <br />
              {{session.plz}} {{session.ort}}
            </dd>
          </div>
        </dl>
        <div class="kern-summary__actions">
          <a
            href="/unternehmen/adresse-abweichend"
            class="kern-link"
            aria-describedby="title"
          >
            <span class="kern-icon kern-icon--edit" aria-hidden="true"></span>
            Bearbeiten
          </a>
        </div>
      </div>
    </div>
  </div>
  {{else}}
  <div class="kern-summary-group">
    <div class="kern-summary">
      <div class="kern-summary__body">
        <dl class="kern-description-list">
          <div class="kern-description-list-item">
            <dt class="kern-description-list-item__key">Adresse</dt>
            <dd class="kern-description-list-item__value">
              {{session.unternehmenStrasse}} {{session.unternehmenHausnummer}}
              <br />
              {{session.unternehmenPlz}} {{session.unternehmenOrt}}
            </dd>
          </div>
        </dl>
        <div class="kern-summary__actions">
          <a
            href="/unternehmen/adresse-abweichend"
            class="kern-link"
            aria-describedby="title"
          >
            <span class="kern-icon kern-icon--edit" aria-hidden="true"></span>
            Bearbeiten
          </a>
        </div>
      </div>
    </div>
  </div>
  {{/unless}}

  <div class="kern-summary-group">
    <div class="kern-summary">
      <div class="kern-summary__body">
        <dl class="kern-description-list">
          <div class="kern-description-list-item">
            <dt class="kern-description-list-item__key">Tätigkeit</dt>
            <dd class="kern-description-list-item__value">
              {{session.taetigkeit}}
            </dd>
          </div>
          <div class="kern-summary__actions">
            <a
              href="/unternehmen/taetigkeit"
              class="kern-link"
              aria-describedby="title"
            >
              <span class="kern-icon kern-icon--edit" aria-hidden="true"></span>
              Bearbeiten
            </a>
          </div>
        </dl>
      </div>
    </div>
  </div>

  <div class="kern-summary-group">
    <div class="kern-summary">
      <div class="kern-summary__body">
        <dl class="kern-description-list">
          <div class="kern-description-list-item">
            <dt class="kern-description-list-item__key">
              Beginn der Tätigkeit:
            </dt>
            <dd class="kern-description-list-item__value">
              {{session.taetigkeitBeginnTag}}.
              {{session.taetigkeitBeginnMonat}}.
              {{session.taetigkeitBeginnJahr}}
            </dd>
          </div>
          <div class="kern-summary__actions">
            <a
              href="/unternehmen/taetigkeit-begonnen"
              class="kern-link"
              aria-describedby="title"
            >
              <span class="kern-icon kern-icon--edit" aria-hidden="true"></span>
              Bearbeiten
            </a>
          </div>
        </dl>
      </div>
    </div>
  </div>

  <div class="kern-summary-group">
    <div class="kern-summary">
      <div class="kern-summary__body">
        <dl class="kern-description-list">
          <div class="kern-description-list-item">
            <dt class="kern-description-list-item__key">
              Umsatzsteuer-Identifikationsnummer
            </dt>
            <dd class="kern-description-list-item__value">{{session.ustid}}</dd>
          </div>
          <div class="kern-summary__actions">
            <a
              href="/unternehmen/taetigkeit"
              class="kern-link"
              aria-describedby="title"
            >
              <span class="kern-icon kern-icon--edit" aria-hidden="true"></span>
              Bearbeiten
            </a>
          </div>
        </dl>
      </div>
    </div>
  </div>

  <div class="kern-summary__header">
    <span class="kern-number">3</span>
    <h3 class="kern-title kern-title--small" id="title">Umsätze</h3>
  </div>
  <div class="kern-summary-group">
    <div class="kern-summary">
      <div class="kern-summary__body">
        <dl class="kern-description-list">
          <div class="kern-description-list-item">
            <dt class="kern-description-list-item__key">Umsätze dieses Jahr</dt>
            <dd class="kern-description-list-item__value">
              {{session.umsatzDiesesJahr}}
            </dd>
          </div>
          <div class="kern-description-list-item">
            <dt class="kern-description-list-item__key">
              Umsätze nächstes Jahr
            </dt>
            <dd class="kern-description-list-item__value">
              {{session.umsatzNaechstesJahr}}
            </dd>
          </div>
        </dl>
        <div class="kern-summary__actions">
          <a href="/umsatz/eingabe" class="kern-link" aria-describedby="title">
            <span class="kern-icon kern-icon--edit" aria-hidden="true"></span>
            Bearbeiten
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="kern-summary-group">
    <div class="kern-summary">
      <div class="kern-summary__body">
        <dl class="kern-description-list">
          <div class="kern-description-list-item">
            <dt class="kern-description-list-item__key">
              Kleinunternehmerregelung
            </dt>
            <dd class="kern-description-list-item__value">
              {{#if session.kleinunternehmerVerwenden}} Ja {{else}} Nein {{/if}}
            </dd>
          </div>
        </dl>
        <div class="kern-summary__actions">
          <a
            href="/umsatz/umsatzsteuer"
            class="kern-link"
            aria-describedby="title"
          >
            <span class="kern-icon kern-icon--edit" aria-hidden="true"></span>
            Bearbeiten
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="kern-summary-group">
    <div class="kern-summary">
      <div class="kern-summary__body">
        <dl class="kern-description-list">
          <div class="kern-description-list-item">
            <dt class="kern-description-list-item__key">
              Umsatzsteuer dieses Jahr
            </dt>
            <dd class="kern-description-list-item__value">
              {{session.ustDiesesJahr}}
            </dd>
          </div>
          <div class="kern-description-list-item">
            <dt class="kern-description-list-item__key">
              Umsatzsteuer nächstes Jahr
            </dt>
            <dd class="kern-description-list-item__value">
              {{session.ustNaechstesJahr}}
            </dd>
          </div>
        </dl>
        <div class="kern-summary__actions">
          <a
            href="/umsatz/umsatzsteuer"
            class="kern-link"
            aria-describedby="title"
          >
            <span class="kern-icon kern-icon--edit" aria-hidden="true"></span>
            Bearbeiten
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="kern-summary__header">
    <span class="kern-number">4</span>
    <h3 class="kern-title kern-title--small" id="title">
      Gewinn &amp; Einkünfte
    </h3>
  </div>

  <div class="kern-summary-group">
    <div class="kern-summary">
      <div class="kern-summary__body">
        <dl class="kern-description-list">
          <div class="kern-description-list-item">
            <dt class="kern-description-list-item__key">Gewinn dieses Jahr</dt>
            <dd class="kern-description-list-item__value">
              {{session.gewinnDiesesJahr}}
            </dd>
          </div>
          <div class="kern-description-list-item">
            <dt class="kern-description-list-item__key">
              Gewinn nächstes Jahr
            </dt>
            <dd class="kern-description-list-item__value">
              {{session.gewinnNaechstesJahr}}
            </dd>
          </div>
        </dl>
        <div class="kern-summary__actions">
          <a href="/gewinn/eingabe" class="kern-link" aria-describedby="title">
            <span class="kern-icon kern-icon--edit" aria-hidden="true"></span>
            Bearbeiten
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="kern-summary-group">
    <div class="kern-summary">
      <div class="kern-summary__body">
        <dl class="kern-description-list">
          <div class="kern-description-list-item">
            <dt class="kern-description-list-item__key">Sonstige Einkünfte</dt>
            <dd class="kern-description-list-item__value">
              <ul class="kern-list kern-list-bullet">
                {{#each session.einkuenfte}}
                <li>{{this}}</li>
                {{/each}}
              </ul>
            </dd>
          </div>
        </dl>
        <div class="kern-summary__actions">
          <a
            href="/einkuenfte/auswahl"
            class="kern-link"
            aria-describedby="title"
          >
            <span class="kern-icon kern-icon--edit" aria-hidden="true"></span>
            Bearbeiten
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="kern-summary__header">
    <span class="kern-number">5</span>
    <h3 class="kern-title kern-title--small" id="title">Kontaktdaten</h3>
  </div>

  <div class="kern-summary-group">
    <div class="kern-summary">
      <div class="kern-summary__body">
        <dl class="kern-description-list">
          <div class="kern-description-list-item">
            <dt class="kern-description-list-item__key">Telefon</dt>
            <dd class="kern-description-list-item__value">
              {{ session.kontaktTelefon}}
            </dd>
          </div>
        </dl>
        <div class="kern-summary__actions">
          <a href="/kontakt/telefon" class="kern-link" aria-describedby="title">
            <span class="kern-icon kern-icon--edit" aria-hidden="true"></span>
            Bearbeiten
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="kern-summary-group">
    <div class="kern-summary">
      <div class="kern-summary__body">
        <dl class="kern-description-list">
          <div class="kern-description-list-item">
            <dt class="kern-description-list-item__key">Email</dt>
            <dd class="kern-description-list-item__value">
              {{ session.kontaktEmail}}
            </dd>
          </div>
        </dl>
        <div class="kern-summary__actions">
          <a href="/kontakt/email" class="kern-link" aria-describedby="title">
            <span class="kern-icon kern-icon--edit" aria-hidden="true"></span>
            Bearbeiten
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="kern-btn-wrapper">
    <a href="/antrag-gesendet" class="kern-btn kern-btn--primary">
      <span class="kern-label">Antrag absenden</span>
    </a>
  </div>
</div>
