<div class="container--clamp">
  <div class="kern-stack kern-gap-xl">
    <div class="kern-alert kern-alert--success" role="alert">
      <div class="kern-alert__header">
        <span class="kern-icon kern-icon--success" aria-hidden="true"></span>
        <h1 class="kern-title">Antrag eingereicht</h1>
      </div>
      <div class="kern-alert__body">
        <p class="kern-body">
          Wir haben Ihren Antrag an das Finanz- und Gewerbeamt weitergeleitet
          und haben Ihnen eine Bestätigung per Email zugeschickt.
        </p>
      </div>
    </div>

    <div>
      <h2 class="kern-heading-medium">Wie geht es weiter?</h2>
      <p class="kern-body">
        Das Finanz- oder Gewerbeamt wird sich mit Ihnen in Verbindung setzen, um
        Ihre Registrierung zu bestätigen oder weitere Informationen anzufordern.
      </p>
    </div>

    <a class="kern-link" href="#">Wie hat Ihnen dieser Service gefallen?</a>
  </div>
</div>
