<div class="kern-stack">
  <h2 class="kern-heading-x-large">
    Ihr Antrag wurde erfolgreich eingereicht!
  </h2>

  <div class="kern-alert kern-alert--success" role="alert">
    <div class="kern-alert__header">
      <span class="kern-icon kern-icon--success" aria-hidden="true"></span>
      <span class="kern-title">Antrag eingereicht</span>
    </div>
    <div class="kern-alert__body">
      <p class="kern-body kern-body--large">
        Wir haben Ihren Antrag an das Finanz- und Gewerbeamt weitergeleitet und
        haben Ihnen eine Bestätigung per Email zugeschickt.
      </p>
    </div>
  </div>
  <p class="kern-body kern-body--large">
    Das Finanz- oder Gewerbeamt wird sich mit Ihnen in Verbindung setzen, um
    Ihre Registrierung zu bestätigen oder weitere Informationen anzufordern.
  </p>

  <a class="kern-link" href="#">Wie hat Ihnen dieser Service gefallen?</a>
</div>
