<div class="kern-stack kern-gap-xl">
  <div class="kern-stack container--clamp">
    <h2 class="kern-heading-x-large">Eingaben überprüfen</h2>
    <p class="kern-body kern-body--large">Bitte überprüfen Sie Ihre Angaben</p>
  </div>

  <div class="kern-stack kern-gap-xl container--summary">
    <div class="kern-stack kern-gap-md">
      <h3 class="kern-heading-medium">Persönliche Angaben</h3>

      <dl class="summary-list">
        {{#> summary-list-row key="Name" summary-action=(join
        "/person/name?edit=true&redirect=" redirectPath) }}
        <span
          >{{session.vorname}} {{session.nachname}} {{#if session.geburtsname}},
          geb. {{session.geburtsname}}{{/if}}</span
        >
        {{/summary-list-row}} {{#> summary-list-row key="Geburtstag" summary-action=(join
        "/person/geburtstag?edit=true&redirect=" redirectPath) }}
        <span>{{session.tag}}.{{session.monat}}.{{session.jahr}}</span>
        {{/summary-list-row}} {{#> summary-list-row key="Geburtsort" summary-action=(join
        "/person/geburtsort?edit=true&redirect=" redirectPath) }}
        <span>{{session.geburtsort}}, {{session.geburtsland}}</span>
        {{/summary-list-row}} 

        {{#> summary-list-row key="Adresse" summary-action=(join
        "/person/adresse?edit=true&redirect=" redirectPath) }}
        <span
          >{{session.strasse}} {{session.hausnummer}} <br />
          {{session.plz}} {{session.ort}}</span
        >
        {{/summary-list-row}} 
      </dl>
    </div>

    <div class="kern-stack kern-gap-md">
      <h3 class="kern-heading-medium">Unternehmen &amp; Tätigkeit</h3>

      <dl class="summary-list">
        {{#> summary-list-row key="Adresse" summary-action=(join "/unternehmen/adresse-abweichend?edit=true&redirect=" redirectPath) }}
          {{#unless adresseAbweichend}}
          <span>
            {{session.strasse}} {{session.hausnummer}} <br />
            {{session.plz}} {{session.ort}}
          </span>
          {{else}}
            <span>
            {{session.unternehmenStrasse}} {{session.unternehmenHausnummer}}
            <br />
            {{session.unternehmenPlz}} {{session.unternehmenOrt}}
            </span>
          {{/unless}}
        {{/summary-list-row}}
        {{#> summary-list-row key="Tätigkeitsbereich" summary-action=(join "/unternehmen/taetigkeitsbereich?edit=true&redirect=" redirectPath) }}
          <span style="text-transform: capitalize;">
            {{session.taetigkeitsbereich}}
          </span>
        {{/summary-list-row}}
        {{#> summary-list-row key="Nebenberuflich gründen" summary-action=(join "/unternehmen/gewerbeart?edit=true&redirect=" redirectPath) }}
            {{#is session.gewerbeart "nebengewerbe"}}
              <span>
              Ja, ich möchte nebenberuflich gründen.
              </span>
            {{else}}
              <span>
              Nein, ich gründe hauptberuflich. 
              </span>
            {{/is}}
        {{/summary-list-row}}
      </dl>
    </div>

    <div class="kern-stack kern-gap-md">
      <h3 class="kern-heading-medium">Umsätze</h3>

      <dl class="summary-list">
        {{#> summary-list-row key="Umsätze dieses Jahr" summary-action=(join "/umsatz/eingabe?edit=true&redirect=" redirectPath) }}
          <span>
            {{session.umsatzDiesesJahr}}
          </span>
        {{/summary-list-row}}
        {{#> summary-list-row key="Umsätze nächstes Jahr" summary-action=(join "/umsatz/eingabe?edit=true&redirect=" redirectPath) }}
          <span>
            {{session.umsatzNaechstesJahr}}
          </span>
        {{/summary-list-row}}

        {{#if (compare session.kleinunternehmerMoeglich "ja")}}
          {{#> summary-list-row key="Kleinunternehmerregelung" summary-action=(join "/umsatz/kleinunternehmerregelung?edit=true&redirect=" redirectPath) }}
            <span>
              {{#if (compare session.kleinunternehmenBool "ja")}}Ja{{else}}Nein{{/if}}
            </span>
          {{/summary-list-row}}
        {{else}}
          {{#> summary-list-row key="Kleinunternehmerregelung" }}
            <span>
              Nicht möglich
            </span>
          {{/summary-list-row}}
        {{/if}}
      </dl>
    </div>
    <div class="kern-stack kern-gap-md">
      <h3 class="kern-heading-medium">Gewinn &amp; Einkünfte</h3>

      <dl class="summary-list">
        {{#> summary-list-row key="Gewinn dieses Jahr" summary-action=(join "/gewinn/eingabe?edit=true&redirect=" redirectPath) }}
          <span>
            {{session.gewinnDiesesJahr}}
          </span>
        {{/summary-list-row}}
        {{#> summary-list-row key="Gewinn nächstes Jahr" summary-action=(join "/gewinn/eingabe?edit=true&redirect=" redirectPath) }}
          <span>
            {{session.gewinnNaechstesJahr}}
          </span>
        {{/summary-list-row}}
      </dl>
    </div>
    <div class="kern-stack kern-gap-md">
      <h3 class="kern-heading-medium">Kontaktdaten</h3>

      <dl class="summary-list">
        {{#> summary-list-row key="Telefon" summary-action=(join "/kontakt/telefon?edit=true&redirect=" redirectPath) }}
          <span>
            {{ session.kontaktTelefon}}
          </span>
        {{/summary-list-row}}
        {{#> summary-list-row key="Email" summary-action=(join "/kontakt/email?edit=true&redirect=" redirectPath) }}
          <span>
            {{ session.kontaktEmail}}
          </span>
        {{/summary-list-row}}
      </dl>
    </div>
  </div>

  <div class="kern-btn-wrapper">
    <a href="/antrag-senden" class="kern-btn kern-btn--primary">
      <span class="kern-label">Weiter</span>
    </a>
  </div>
</div>
