<div class="kern-stack">
  <h2 class="kern-heading-x-large">
    Kombi-Antrag für Steuernummer und Gewerbemeldung
  </h2>
  <p class="kern-body kern-body--large">
    Schritt für Schritt zu Ihrer Unternehmensgründung. Mit einem kombinierten
    Antrag für Steuernummer und Gewerbemeldung.
  </p>
  {{>tasklist}}
  <p class="kern-body">Geschätzte Bearbeitungszeit: 20 Min</p>
  <div class="kern-btn-wrapper">
    <a href="/person/bundid" class="kern-btn kern-btn--primary">
      <span class="kern-label">Jetzt Starten</span>
      <span
        class="kern-icon kern-icon--arrow-forward"
        aria-hidden="true"
      ></span>
    </a>
  </div>
</div>
