<div class="kern-stack kern-gap-xl container--clamp">
  <div>
    <h1 class="kern-heading-x-large">
      Gründen Sie Ihr Unternehmen in Deutschland
    </h1>
    <p class="kern-body">In wenigen Schritten zum Erfolg.</p>
  </div>
  <div class="kern-btn-wrapper">
    <a href="/vorab-check" class="kern-btn kern-btn--primary">
      <span class="kern-label">Jetzt Starten</span>
      <span
        class="kern-icon kern-icon--arrow-forward"
        aria-hidden="true"
      ></span>
    </a>
  </div>
</div>
