<div class="kern-container">
  <div class="kern-progress">
    <label class="kern-label" for="progress1">Schritt 1 von 5</label>
    <progress id="progress1" value="1" max="5"></progress>
  </div>
  <h2 class="kern-heading-x-large">Welche Rechtsform möchten Sie gründen?</h2>
  <p class="kern-body kern-body--large">
    Für verschiedene Rechtsformen gelten unterschiedliche Regeln für die
    Gründung.
  </p>
  <form action="/taetigkeit" method="post">
    <div class="kern-fieldset__body">
      <div class="kern-form-check">
        <input
          class="kern-form-check__radio"
          id="einzelunternehmen"
          type="radio"
          value="einzelunternehmen"
          name="rechtsform"
          required
        /><label class="kern-label" for="einzelunternehmen"
          >Einzelunternehmen</label
        >
      </div>
      <div class="kern-form-check">
        <input
          class="kern-form-check__radio"
          id="gmbh"
          type="radio"
          value="gmbh"
          name="rechtsform"
        /><label class="kern-label" for="gmbh"
          >Gesellschaft mit beschränkter Haftung (GmbH)</label
        >
      </div>
      <div class="kern-form-check">
        <input
          class="kern-form-check__radio"
          id="gbr"
          type="radio"
          value="gbr"
          name="rechtsform"
        /><label class="kern-label" for="gbr"
          >Gesellschaft bürgerlichen Rechts (GbR)</label
        >
      </div>
      <div class="kern-form-check">
        <input
          class="kern-form-check__radio"
          id="ug"
          type="radio"
          value="ug"
          name="rechtsform"
        /><label class="kern-label" for="ug"
          >Unternehmergesellschaft (UG)</label
        >
      </div>
      <div class="kern-form-check">
        <input
          class="kern-form-check__radio"
          id="ag"
          type="radio"
          value="ag"
          name="rechtsform"
        /><label class="kern-label" for="ag">Aktiengesellschaft (AG)</label>
      </div>
      <div class="kern-form-check">
        <input
          class="kern-form-check__radio"
          id="ohg"
          type="radio"
          value="ohg"
          name="rechtsform"
        /><label class="kern-label" for="ohg"
          >Offene Handelsgesellschaft (OHG)</label
        >
      </div>
      <div class="kern-form-check">
        <input
          class="kern-form-check__radio"
          id="kg"
          type="radio"
          value="kg"
          name="rechtsform"
        /><label class="kern-label" for="kg">Kommanditgesellschaft (KG)</label>
      </div>
      <button class="kern-btn kern-btn--primary">
        <span class="kern-label">Weiter</span>
      </button>
    </div>
  </form>
</div>
