@import "../kern-ux/kern.min.css";
@import "../kern-ux/fonts/fira-sans.css";

* {
  margin: 0;
}

button.kern-link {
  appearance: none;
  background: transparent;
  cursor: pointer;
}

/* skip-to-content link */
/* ----------------------------------- */

.skip-to-content {
  transform: translateY(calc(-100% - 1.5rem)) translateX(-50%);
  transition: all 0.2s ease;
  opacity: 0;
  position: absolute;
  top: 1.5rem;
  left: 50%;
  z-index: 10;
}

.skip-to-content:focus-visible {
  opacity: 1;
  transform: translateY(0) translateX(-50%);
}

header {
  padding-block-start: var(--kern-metric-space-default);
}

footer {
  margin-block-start: 6rem;
  background: var(--kern-color-layout-background-hued);
}

.menu a {
  padding-block: var(--kern-metric-space-default);
}

.container--clamp {
  max-width: 44rem;
}

.container--summary {
  max-width: 64rem;
}

aside {
  width: 50ch;
}

.kern-icon--in-progress {
  mask: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20height%3D%22%22%20viewBox%3D%220%200%2024%2024%22%20width%3D%22%22%20fill%3D%22%231f1f1f%22%3E%3Cpath%20d%3D%22M22%2C12c0%2C5.52-4.48%2C10-10%2C10S2%2C17.52%2C2%2C12c0-2.76%2C1.12-5.26%2C2.93-7.07L12%2C12V2C17.52%2C2%2C22%2C6.48%2C22%2C12z%22%2F%3E%3C%2Fsvg%3E");
  background-color: var(--kern-color-layout-text-default);
}

.kern-icon.status--started,
.kern-link .kern-icon.status--started {
  background-color: var(--kern-color-feedback-warning);
}

.kern-link .kern-icon.status--done {
  background-color: var(--kern-color-feedback-success);
}

.tree ol {
  list-style-type: none;
  padding-inline-start: 0;
}

.tree ol > li li {
  padding-inline-start: var(--kern-metric-space-large);
}

.tree-link {
  display: flex;
  align-items: center;
  gap: 0;
}

.tree-link-status {
  display: inline-flex;
  width: var(--kern-metric-space-large);
}

.progress {
  display: flex;
  flex-wrap: wrap;
  gap: var(--kern-metric-space-default);
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

/* <summary-list> */
/* ----------------------------------- */

.summary-list {
  container: summary-list / inline-size;
}

.summary-list__row {
  display: grid;
  padding-block: var(--kern-metric-space-default);
  border-bottom: 1px solid var(--kern-color-layout-border);

  @container summary-list (min-width: 44rem) {
    grid-template-columns: 2fr 3fr 1fr;
    gap: var(--kern-metric-space-default);
    .summary-list__actions {
      text-align: right;
    }
  }
}

.summary-list__row:first-child {
  padding-block-start: 0;
}

/* <steps> */
/* ----------------------------------- */

.steps {
  display: flex;
  align-items: center;
  gap: var(--kern-metric-space-small);
  color: var(--kern-color-layout-text-default);
}

.steps--active {
  background: var(--kern-color-layout-background-hued);
  padding: var(--kern-metric-space-small);
  padding-inline-end: var(--kern-metric-space-default);
  font-weight: bold;
  border-radius: 9999em;
}

.steps__counter {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--kern-color-layout-border);
  border-radius: 9999em;
  width: var(--kern-metric-dimension-large);
  height: var(--kern-metric-dimension-large);
}

.steps--done .steps__counter {
  background: var(--kern-color-feedback-success);
  color: var(--kern-color-action-on-default);
}

.steps--done .steps__icon {
  background-color: var(--kern-color-action-on-default);
}

.steps--active .steps__counter {
  background: var(--kern-color-action-default);
  color: var(--kern-color-action-on-default);
}

.steps__label {
  font-size: var(--kern-typography-font-size-static-medium);
}

/* <banner> */
/* ----------------------------------- */

.banner {
  container: banner / inline-size;
}

.banner__inner {
  padding: var(--kern-metric-space-default);

  @container banner (min-width: 36rem) {
    padding: var(--kern-metric-space-large);
  }
}

.banner--danger {
  background: var(--kern-color-feedback-danger-background);
}
.banner--success {
  background: var(--kern-color-feedback-success-background);
}

/* <radio-hint> */
/* ----------------------------------- */

.radio-hint {
  color: var(--kern-color-layout-text-muted);
}

/* <counter> */
/* ----------------------------------- */

.counter {
  align-items: center;
  background: var(--kern-color-layout-background-default);
  border-radius: var(--kern-metric-border-radius-circle);
  border: 1px solid var(--kern-color-layout-border);
  display: inline-flex;
  font-size: var(--kern-typography-font-size-static-medium);
  font-weight: var(--kern-typography-font-weight-semi-bold);
  height: var(--kern-metric-dimension-large);
  justify-content: center;
  width: var(--kern-metric-dimension-large);
}

.counter--success {
  background: var(--kern-color-feedback-success);
  border-color: var(--kern-color-feedback-success);
}

.counter--success .counter__icon {
  background: var(--kern-color-action-on-default);
}

/* <timeline> */
/* ----------------------------------- */

.timeline {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.timeline li {
  display: flex;
  gap: var(--kern-metric-space-default);
  align-items: stretch;
  position: relative;
}

.timeline li:not(:last-child):before {
  content: "";
  width: 1px;
  background: var(--kern-color-layout-border);
  position: absolute;
  left: calc(var(--kern-metric-dimension-large) / 2);
  transform: translateX(-50%);
  top: var(--kern-metric-dimension-large);
  bottom: 0;
  z-index: -1;
}

.timeline__counter {
  padding-top: var(--kern-metric-baseline-heading-medium-padding-top);
}

.timeline li .timeline__content {
  padding-block-end: var(--kern-metric-space-default);
}

.timeline li:last-child .timeline__content {
  padding-block-end: 0;
}

/* custom spacing helper */
/* ----------------------------------- */

.gap-2xl {
  gap: var(--kern-48);
}
