<div class="kern-stack">
  <h2 class="kern-heading-x-large">
    Bitte beantworten Sie nun einige Fragen zu Ihrer steuerlichen Situation
  </h2>
  <p class="kern-body kern-body--large">
    Mit Ihren Angaben melden wir sie bei Ihrem zuständigen Finanzamt an.
  </p>
  <div class="kern-btn-wrapper">
    <a href="/steuer/steuer-id-abfrage" class="kern-btn kern-btn--primary">
      <span class="kern-label">Weiter</span>
      <span
        class="kern-icon kern-icon--arrow-forward"
        aria-hidden="true"
      ></span>
    </a>
  </div>
</div>
