<div class="kern-stack">
  <h2 class="kern-heading-large">
    Fast geschafft! Wir benötigen nun Ihre Kontaktdaten
  </h2>
  <p class="kern-body kern-body--large">
    Durch die Angabe Ihrer Telefonnummer und E-Mail-Adresse können die Behörden
    Sie bei Rückfragen schneller erreichen. Dies verkürzt die Bearbeitungszeit
    Ihres Antrags deutlich.
  </p>
  <div class="kern-btn-wrapper">
    <a href="/kontakt/telefon" class="kern-btn kern-btn--primary">
      <span class="kern-label">Weiter</span>
    </a>
  </div>
</div>
