<div class="kern-stack">
  {{> progress step=1 max=5}}
  <div>
    <h2 class="kern-heading-x-large">Hat ihr Betrieb eine andere Adresse?</h2>
  </div>
  <form action="/unternehmen/adresse-eingabe" method="post">
    <div class="kern-fieldset__body">
      <div class="kern-form-check">
        <input
          class="kern-form-check__radio"
          id="adresse-abweichend-ja"
          type="radio"
          value="ja"
          name="adresseAbweichend"
          checked
        /><label class="kern-label" for="adresse-abweichend-ja">Ja</label>
      </div>
      <div class="kern-form-check">
        <input
          class="kern-form-check__radio"
          id="adresse-abweichend-nein"
          type="radio"
          value="nein"
          name="adresseAbweichend"
        /><label class="kern-label" for="adresse-abweichend-nein">Nein</label>
      </div>
      <div class="kern-btn-wrapper">
        <button class="kern-btn kern-btn--primary">
          <span class="kern-label">Weiter</span>
        </button>
      </div>
    </div>
  </form>
</div>
