{{#> question edit=edit step=1 max=5 section="Unternehmen und Tätigkeit"
title="Befindet sich Ihr Unternehmen an Ihrer privaten Adresse?"
action="/unternehmen/adresse-abweichend"}}
<div class="kern-fieldset__body">
  <div class="kern-form-check">
    <input
      class="kern-form-check__radio"
      id="adresse-abweichend-nein"
      type="radio"
      value="nein"
      {{#unless adresseAbweichend }}checked{{/unless}}
      name="adresseAbweichend"
    /><label class="kern-label" for="adresse-abweichend-nein">Ja, mein Unternehmen befindet sich an meiner privaten Adresse</label>
  </div>
  <div class="kern-form-check">
    <input
      class="kern-form-check__radio"
      id="adresse-abweichend-ja"
      type="radio"
      value="ja"
      {{#if adresseAbweichend }}checked{{/if}}
      name="adresseAbweichend"
    /><label class="kern-label" for="adresse-abweichend-ja"
      >Nein, mein Unternehmen hat eine andere Adresse</label
    >
  </div>
</div>

{{/question}}
