<div class="kern-stack">
  <h2 class="kern-heading-x-large">Angaben Unternehmen</h2>
  <p class="kern-body kern-body--large">Bitte überprüfen Sie Ihre Angaben</p>

  <div class="kern-summary-group">
    <div class="kern-summary">
      <div class="kern-summary__body">
        <dl class="kern-description-list">
          <div class="kern-description-list-item">
            <dt class="kern-description-list-item__key">Straße</dt>
            <dd class="kern-description-list-item__value">
              {{session.strasse}} {{session.hausnummer}}
            </dd>
          </div>
          <div class="kern-description-list-item">
            <dt class="kern-description-list-item__key">Ort</dt>
            <dd class="kern-description-list-item__value">
              {{session.plz}} {{session.ort}}
            </dd>
          </div>
        </dl>
        <div class="kern-summary__actions">
          <a
            href="/unternehmen/adresse-abweichend"
            class="kern-link"
            aria-describedby="title"
          >
            <span class="kern-icon kern-icon--edit" aria-hidden="true"></span>
            Bearbeiten
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="kern-summary-group">
    <div class="kern-summary">
      <div class="kern-summary__body">
        <dl class="kern-description-list">
          <div class="kern-description-list-item">
            <dt class="kern-description-list-item__key">Tätigkeit</dt>
            <dd class="kern-description-list-item__value">
              {{session.taetigkeit}}
            </dd>
          </div>
          <div class="kern-summary__actions">
            <a
              href="/unternehmen/taetigkeit"
              class="kern-link"
              aria-describedby="title"
            >
              <span class="kern-icon kern-icon--edit" aria-hidden="true"></span>
              Bearbeiten
            </a>
          </div>
        </dl>
      </div>
    </div>
  </div>

  <div class="kern-summary-group">
    <div class="kern-summary">
      <div class="kern-summary__body">
        <dl class="kern-description-list">
          <div class="kern-description-list-item">
            <dt class="kern-description-list-item__key">
              Beginn der Tätigkeit:
            </dt>
            <dd class="kern-description-list-item__value">
              {{session.taetigkeitBeginnTag}}.
              {{session.taetigkeitBeginnMonat}}.
              {{session.taetigkeitBeginnJahr}}
            </dd>
          </div>
          <div class="kern-summary__actions">
            <a
              href="/unternehmen/taetigkeit-begonnen"
              class="kern-link"
              aria-describedby="title"
            >
              <span class="kern-icon kern-icon--edit" aria-hidden="true"></span>
              Bearbeiten
            </a>
          </div>
        </dl>
      </div>
    </div>
  </div>

  <div class="kern-btn-wrapper">
    <a href="/steuer/start" class="kern-btn kern-btn--primary">
      <span class="kern-label">Weiter</span>
    </a>
  </div>
</div>
