{{#> question edit=edit step=4 max=5 section="Unternehmen und Tätigkeit"
title="Gründen sie erst einmal nebenberuflich?"
action="/unternehmen/gewerbeart"}}

{{#*inline "intro"}}
<div class="kern-stack kern-gap-lg">
  <p class="kern-body">
    Das heißt Sie arbeiten weiter hauptberuflich in einer anderen Tätigkeit. Sie bleiben über Ihren Hauptberuf krankenversichert.
  </p>
  <div class="kern-stack kern-gap-sm">
    <p class="kern-body">Voraussetzung, um nebenberuflich zu gründen:</p>
    <ul class="kern-list kern-list--bullet">
      <li>Ihr Hauptberuf bleibt zeitlich und finanziell Ihre wichtigere Tätigkeit.</li>
      <li>Sie arbeiten maximal 20 Stunden pro Woche selbstständig.</li>
      <li>Ihr Gewinn ist niedriger als Ihr Gehalt im Hauptberuf.</li>
    </ul>
  </div>
</div>
{{/inline}}

<fieldset class="kern-fieldset">
  <legend class="kern-label">Nebenberuflich gründen</legend>
  <div class="kern-fieldset__body">
    <div class="kern-form-check">
      <input
        class="kern-form-check__radio"
        id="nebengewerbe"
        type="radio"
        value="nebengewerbe"
        name="gewerbeart"
        {{#is session.gewerbeart "nebengewerbe"}}checked{{/is}}
      />
        <label class="kern-label" for="nebengewerbe">Ja, ich möchte nebenberuflich gründen</label>
    </div>
    <div class="kern-form-check">
      <input
        class="kern-form-check__radio"
        id="hauptgewerbe"
        type="radio"
        value="hauptgewerbe"
        name="gewerbeart"
        {{#is session.gewerbeart "hauptgewerbe"}}checked{{/is}}
      />
        <label class="kern-label" for="hauptgewerbe">Nein, ich gründe hauptberuflich</label>
    </div>
  <div>
</fieldset>

{{/question}}
