{{#> question edit=edit step=4 max=5 section="Unternehmen und Tätigkeit"
title="Möchten Sie nebenberuflich gründen?"
action="/unternehmen/gewerbeart"}}

{{#*inline "intro"}}
<div class="kern-stack kern-gap-lg">
  <p class="kern-body">
    Dann bleiben Sie über Ihren Hauptberuf weiter krankenversichert.
  </p>
  <div class="kern-stack kern-gap-sm">
    <p class="kern-body">Voraussetzungen:</p>
    <ul class="kern-list kern-list--bullet">
      <li>
        Ihr Hauptjob muss zeitlich und finanziell Ihre wichtigste Tätigkeit
        bleiben.
      </li>
      <li>Sie arbeiten maximal 20 Stunden pro Woche selbstständig.</li>
      <li>Ihr Gewinn ist niedriger als Ihr Gehalt im Hauptberuf.</li>
    </ul>
  </div>
</div>
{{/inline}}

<fieldset class="kern-fieldset">
  <legend class="kern-label">Möchten Sie nebenberuflich gründen?</legend>
  <div class="kern-fieldset__body">
    <div class="kern-form-check">
      <input
        class="kern-form-check__radio"
        id="nebengewerbe"
        type="radio"
        value="nebengewerbe"
        name="gewerbeart"
      />
        <label class="kern-label" for="nebengewerbe">Ja, ich möchte nebenberuflich gründen</label>
    </div>
    <div class="kern-form-check">
      <input
        class="kern-form-check__radio"
        id="hauptgewerbe"
        type="radio"
        value="hauptgewerbe"
        name="gewerbeart"
      />
        <label class="kern-label" for="hauptgewerbe">Nein, ich gründe hauptberuflich</label>
    </div>
  <div>
</fieldset>

{{/question}}
