<div class="kern-stack">
  <h2 class="kern-heading-x-large">
    Bitte beantworten Sie einige Fragen zu Ihrem Unternehmen und Tätigkeit
  </h2>
  <p class="kern-body kern-body--large">
    Mit Ihren Angaben melden wir ihr Gewerbe bei Ihrem zuständigen Gewerbeamt
    an.
  </p>
  <p class="kern-body kern-body--large">
    Wir werden Sie außerdem über Dokumente und Nachweise informieren, die Sie im
    weiteren Gründungsprozess brauchen.
  </p>
  <div class="kern-btn-wrapper">
    <a
      href="/unternehmen/adresse-abweichend"
      class="kern-btn kern-btn--primary"
    >
      <span class="kern-label">Jetzt Starten</span>
      <span
        class="kern-icon kern-icon--arrow-forward"
        aria-hidden="true"
      ></span>
    </a>
  </div>
</div>
