{{#> question edit=edit step=3 max=5 section="Unternehmen und Tätigkeit"
action="/unternehmen/taetigkeit-beginn"}}

{{#*inline "title"}}
{{#if taetigkeitBegonnen}}
Wann haben Sie diese Tätigkeit begonnen?
{{else}}
Wann wollen Sie diese Tätigkeit beginnen?
{{/if}}
{{/inline}}

<div class="kern-fieldset__body kern-fieldset__body--horizontal">
  <div class="kern-form-input">
    <label class="kern-label" for="tag">Tag</label>
    <input
      class="kern-form-input__input kern-form-input__input--width-2"
      id="tag"
      name="taetigkeitBeginnTag"
      type="text"
      inputmode="numeric"
      value="{{session.taetigkeitBeginnTag}}"
    />
  </div>
  <div class="kern-form-input">
    <label class="kern-label" for="monat">Monat</label>
    <input
      class="kern-form-input__input kern-form-input__input--width-2"
      id="monat"
      name="taetigkeitBeginnMonat"
      type="text"
      inputmode="numeric"
      value="{{session.taetigkeitBeginnMonat}}"
    />
  </div>
  <div class="kern-form-input">
    <label class="kern-label" for="jahr">Jahr</label>
    <input
      class="kern-form-input__input kern-form-input__input--width-4"
      id="jahr"
      name="taetigkeitBeginnJahr"
      type="text"
      inputmode="numeric"
      value="{{session.taetigkeitBeginnJahr}}"
    />
  </div>
</div>
{{/question}}
