{{#> question edit=edit step=3 max=5 section="Unternehmen und Tätigkeit"
title="Haben Sie diese Tätigkeit bereits begonnen?"
action="/unternehmen/taetigkeit-begonnen"}}

<div class="kern-fieldset__body">
  <div class="kern-form-check">
    <input
      class="kern-form-check__radio"
      id="taetigkeit-begonnen-ja"
      type="radio"
      value="ja"
      name="taetigkeitBegonnen"
      {{#if taetigkeitBegonnen}}checked{{/if}}
    /><label class="kern-label" for="taetigkeit-begonnen-ja">Ja</label>
  </div>
  <div class="kern-form-check">
    <input
      class="kern-form-check__radio"
      id="taetigkeit-begonnen-nein"
      type="radio"
      value="nein"
      name="taetigkeitBegonnen"
      {{#unless taetigkeitBegonnen}}checked{{/unless}}
    /><label class="kern-label" for="taetigkeit-begonnen-nein">Nein</label>
  </div>
</div>
{{/question}}
