<div class="kern-stack">
  {{> progress step=5 max=5}}
  <div>
    <h2 class="kern-heading-x-large">
      Wir werden eine Umsatzsteuer-Identifikationsnummer für sie beantragen
    </h2>
    <p class="kern-body">
      Wir werden eine Umsatzsteuer-Identifikationsnummer für sie beantragen.
    </p>
  </div>

  <form action="/unternehmen/angaben" method="post">
    <div class="kern-btn-wrapper">
      <button class="kern-btn kern-btn--primary">
        <span class="kern-label">Weiter</span>
      </button>
    </div>
  </form>
</div>
