<div class="kern-stack">
  {{> progress step=5 max=5}}
  <div>
    <h2 class="kern-heading-x-large">
      Haben Sie bereits eine Umsatzsteuer-Identifikationsnummer?
    </h2>
    <p class="kern-body">Dann müssen Sie keine neue beantragen.</p>
    <p class="kern-body">
      Wenn Sie bereits eine Umsatzsteuer-Identifikationsnummer aus einem
      Einzelunternehmen oder einer freiberuflichen Tätigkeit besitzen benötigen
      Sie keine weitere.
    </p>
    <p class="kern-body">
      Da die Umsatzsteuer-Identifikationsnummer fest mit Ihnen als Privatperson
      verknüpft ist, gilt sie für alle Ihre Tätigkeiten.
    </p>
  </div>

  <form class="kern-stack kern-gap-xl" action="/unternehmen/status" method="post">
    <fieldset class="kern-fieldset">
      <legend class="kern-label">
        Haben Sie bereits eine Umsatzsteuer-Identifikationsnummer?
      </legend>
      <div class="kern-fieldset__body">
        <div class="kern-form-check">
          <input
            class="kern-form-check__radio"
            id="ustidexisting-ja"
            type="radio"
            value="ja"
            checked
            name="ustidexistingbool"
          /><label class="kern-label" for="ustidexisting-ja"
            >Ja, ich habe bereits eine Umsatzsteuer-Identifikationsnummer</label
          >
        </div>
        <div class="kern-form-check">
          <input
            class="kern-form-check__radio"
            id="ustidexisting-nein"
            type="radio"
            value="nein"
            name="ustidexistingbool"
          /><label class="kern-label" for="ustidexisting-nein"
            >Nein, ich möchte eine Umsatzsteuer-Identifikationsnummer
            beantragen</label
          >
        </div>
        <div class="kern-btn-wrapper">
          <button class="kern-btn kern-btn--primary">
            <span class="kern-label">Weiter</span>
          </button>
        </div>
      </div>
    </fieldset>
  </form>
</div>
