{{#> question edit=edit step=5 max=5 section="Unternehmen und Tätigkeit"
title="Möchten Sie eine Umsatzsteuer-Identifikationsnummer beantragen?"
action="/unternehmen/ustid"}} {{#*inline "intro"}}
<p class="kern-body">
  Während Ihre Steuernummer für Geschäfte innerhalb Deutschlands ausreicht,
  benötigen Sie die Umsatzsteuer-Identifikationsnummer für den Handel innerhalb
  der EU:
</p>
<ul class="kern-list kern-list--bullet">
  <li>
    Sie kaufen oder verkaufen Waren und Dienstleistungen in anderen EU-Ländern
    oder über das Internet
  </li>
  <li>
    Sie nutzen digitale Dienste aus dem EU-Ausland (z. B. Software-Abos,
    Werbeanzeigen oder Hosting-Dienste)
  </li>
</ul>
{{/inline}}

<fieldset class="kern-fieldset">
  <legend class="kern-label">
    Möchten Sie eine Umsatzsteuer-Identifikationsnummer beantragen?
  </legend>
  <div class="kern-fieldset__body">
    <div class="kern-form-check">
      <input
        class="kern-form-check__radio"
        id="ustid-ja"
        type="radio"
        value="ja"
        checked
        name="ustidbool"
      /><label class="kern-label" for="ustid-ja">Ja</label>
    </div>
    <div class="kern-form-check">
      <input
        class="kern-form-check__radio"
        id="ustid-nein"
        type="radio"
        value="nein"
        name="ustidbool"
      /><label class="kern-label" for="ustid-nein">Nein</label>
    </div>
  </div>
</fieldset>
{{/question}}
