{{#> question edit=edit step=5 max=5 section="Unternehmen und Tätigkeit"
title="Haben Sie bereits eine Umsatzsteuer-Identifikationsnummer?"
action="/unternehmen/ustid-abfrage"}} {{#*inline "intro"}}
<p class="kern-body">
  Wenn Sie bereits eine Umsatzsteuer-Identifikationsnummer aus einem
  Einzelunternehmen oder einer freiberuflichen Tätigkeit besitzen müssen Sie
  keine neue beantragen. Sie ist fest mit Ihnen als Privatperson verknüpft und
  gilt für alle Ihre Tätigkeiten.
</p>
{{/inline}}

<fieldset class="kern-fieldset">
  <legend class="kern-label">
    Haben Sie bereits eine Umsatzsteuer-Identifikationsnummer?
  </legend>
  <div class="kern-fieldset__body">
    <div class="kern-form-check">
      <input
        class="kern-form-check__radio"
        id="ustidexisting-ja"
        type="radio"
        value="ja"
        checked
        name="ustidexistingbool"
      /><label class="kern-label" for="ustidexisting-ja">Ja</label>
    </div>
    <div class="kern-form-check">
      <input
        class="kern-form-check__radio"
        id="ustidexisting-nein"
        type="radio"
        value="nein"
        name="ustidexistingbool"
      /><label class="kern-label" for="ustidexisting-nein">Nein</label>
    </div>
  </div>
</fieldset>
{{/question}}
