<div class="kern-stack">
  <h2 class="kern-heading-x-large">Ihre Gewinne und Einkünfte</h2>
  <p class="kern-body kern-body--large">
    Anhand ihrer Gewinne wird festgelegt wie viel Gewerbesteuer und
    Einkommensteuer Sie zahlen müssen.
  </p>
  <p class="kern-body kern-body--large">
    Anhand ihrer weiteren Einkünfte wird festgelegt wie viel Einkommenssteuer
    Sie zahlen müssen.
  </p>
  <p class="kern-body kern-body--large">
    Es reicht zunächst aus, wenn Sie eine ungefähre Schätzung abgeben. Eine
    präzisere Angabe hilft dem Finanzamt dabei Ihre Steuer-Vorauszahlungen
    genauer zu berechnen.
  </p>
  <div class="kern-btn-wrapper">
    <a href="/gewinn/eingabe" class="kern-btn kern-btn--primary">
      <span class="kern-label">Los geht’s</span>
      <span
        class="kern-icon kern-icon--arrow-forward"
        aria-hidden="true"
      ></span>
    </a>
  </div>
</div>
