<div class="kern-stack kern-gap-xl container--clamp">
  <div class="kern-stack">
    <h2 class="kern-heading-x-large">
      Als Nächstes benötigen wir eine ungefähre Schätzung Ihrer Gewinne.
    </h2>
    <p class="kern-body">
      Es genügt zunächst, wenn Sie uns eine realistische Einschätzung geben.
      Diese Zahlen dienen als erste Orientierung für das Finanzamt.
    </p>
    <p class="kern-body">
      Anhand Ihrer Gewinne und weiteren Einkünfte legt das Finanzamt fest:
    </p>
    <ul class="kern-list kern-list--bullet">
      <li>ob Sie Gewerbesteuer zahlen müssen</li>
      <li>
        ob und in welcher Höhe Sie Einkommensteuer-Vorauszahlungen leisten
        müssen
      </li>
    </ul>
  </div>
  <div class="kern-btn-wrapper">
    <a href="/gewinn/eingabe" class="kern-btn kern-btn--primary">
      <span class="kern-label">Weiter</span>
    </a>
  </div>
</div>
