<div class="kern-stack">
  {{> progress step=2 max=2 section="Gewinne und Einkünfte"}}
  <div>
    <h2 class="kern-heading-x-large">
      Wie hoch sind Ihre Einkünfte aus Land- und Forstwirtschaft?
    </h2>
  </div>
  <form
    class="kern-stack kern-gap-xl"
    action="/einkuenfte/landwirtschaft"
    method="post"
  >
    <div class="kern-fieldset__body">
      <div class="kern-form-input">
        <label class="kern-label" for="landwirtschaft-dieses-jahr"
          >Einkünfte dieses Jahr</label
        >
        <div class="kern-input-group">
          <input
            class="kern-form-input__input"
            id="landwirtschaft-dieses-jahr"
            name="landwirtschaftDiesesJahr"
            type="text"
            inputmode="numeric"
            value="{{ session.landwirtschaftDiesesJahr }}"
          />
          <span class="kern-input-group-text">Euro</span>
        </div>
      </div>

      <div class="kern-form-input">
        <label class="kern-label" for="landwirtschaft-naechstes-jahr"
          >Einkünfte nächstes Jahr</label
        >
        <div class="kern-input-group">
          <input
            class="kern-form-input__input"
            id="landwirtschaft-naechstes-jahr"
            name="landwirtschaftNaechstesJahr"
            type="text"
            inputmode="numeric"
            value="{{ session.landwirtschaftNaechstesJahr }}"
          />
          <span class="kern-input-group-text">Euro</span>
        </div>
      </div>

      <div class="kern-btn-wrapper">
        <button class="kern-btn kern-btn--primary">
          <span class="kern-label">Weiter</span>
        </button>
      </div>
    </div>
  </form>
</div>
