<div class="kern-stack">
  <div>
    <h2 class="kern-heading-x-large">
      Mit diesen Umsätzen können Sie die Kleinunternehmerregelung nicht nutzen.
    </h2>
    <p class="kern-body">
      Ihre geschätzten Umsätze überschreiten die Grenze von 25.000 €. Das
      bedeutet, dass Sie auf Ihren Rechnungen Umsatzsteuer berechnen und diese
      an das Finanzamt abführen müssen.
    </p>
  </div>

  <form
    class="kern-stack kern-gap-xl"
    action="/umsatz/umsatzsteuer"
    method="post"
  >
    <div class="kern-btn-wrapper">
      <button class="kern-btn kern-btn--primary">
        <span class="kern-label">Weiter</span>
      </button>
    </div>
  </form>
</div>
