<div class="kern-stack">
  {{> progress step=2 max=3 section="Umsätze"}}
  <div>
    <h2 class="kern-heading-x-large">
      Sie erfüllen die Voraussetzungen für die Kleinunternehmerregelung.
    </h2>
    <p class="kern-body">Falls Sie die Regelung nutzen, bedeutet das:</p>
    <p class="kern-body">
      Weniger Bürokratie: Sie müssen keine monatliche oder quartalsweise
      Umsatzsteuer-Voranmeldung abgeben.
    </p>
    <p class="kern-body">
      Höhere Kosten bei Einkäufen: Sie können sich die Umsatzsteuer für
      betriebliche Ausgaben nicht vom Finanzamt zurückholen.
    </p>
  </div>

  <form
    class="kern-stack kern-gap-xl"
    action="/umsatz/umsatzsteuer"
    method="post"
  >
    <fieldset class="kern-fieldset">
      <legend class="kern-label">
        Möchten Sie die Kleinunternehmerregelung nutzen?
      </legend>
      <div class="kern-fieldset__body">
        <div class="kern-form-check">
          <input
            class="kern-form-check__radio"
            id="kleinunternehmen-ja"
            type="radio"
            value="ja"
            checked
            name="kleinunternehmenBool"
          /><label class="kern-label" for="kleinunternehmen-ja">Ja</label>
        </div>
        <div class="kern-form-check">
          <input
            class="kern-form-check__radio"
            id="kleinunternehmen-nein"
            type="radio"
            value="nein"
            name="kleinunternehmenBool"
          /><label class="kern-label" for="kleinunternehmen-nein">Nein</label>
        </div>
        <div class="kern-btn-wrapper">
          <button class="kern-btn kern-btn--primary">
            <span class="kern-label">Weiter</span>
          </button>
        </div>
      </div>
    </fieldset>
  </form>
</div>
