<div class="kern-stack">
  <div>
    <h2 class="kern-heading-x-large">
      Sie können die Kleinunternehmerregelung nicht nutzen.
    </h2>

    {{#if hintUmsatz}}
    <p class="kern-body">
      Da Ihre Umsätze höher als 25.000 € sind, können Sie unter die
      Kleinunternehmerregelung nicht nutzen.
    </p>
    {{/if}} {{#if hintVerzicht}}
    <p class="kern-body">
      Sie haben sich bereits aktiv gegen die Kleinunternehmerregelung
      entschieden und sind für 5 Jahre an diese Wahl gebunden.
    </p>
    {{/if}} {{#if hintGesamt}}
    <p class="kern-body">
      Da Ihre gesamten Umsätze höher als 25.000 € sind, können Sie unter die
      Kleinunternehmerregelung nicht nutzen.
    </p>
    {{/if}}

    <p class="kern-body">
      Das bedeutet, dass Sie auf Ihren Rechnungen Umsatzsteuer berechnen und
      diese an das Finanzamt abführen müssen.
    </p>
  </div>

  <form
    class="kern-stack kern-gap-xl"
    action="/umsatz/umsatzsteuer"
    method="post"
  >
    <div class="kern-btn-wrapper">
      <button class="kern-btn kern-btn--primary">
        <span class="kern-label">Weiter</span>
      </button>
    </div>
  </form>
</div>
