{{#> question edit=edit step=2 max=3 section="Umsätze" title="Sie erfüllen die
Voraussetzungen für die Kleinunternehmerregelung."
action="/umsatz/kleinunternehmerregelung"}} {{#*inline "intro"}}
<p class="kern-body">Falls Sie die Regelung nutzen, bedeutet das:</p>
<p class="kern-body">
  Weniger Bürokratie: Sie müssen keine monatliche oder quartalsweise
  Umsatzsteuer-Voranmeldung abgeben.
</p>
<p class="kern-body">
  Höhere Kosten bei Einkäufen: Sie können sich die Umsatzsteuer für betriebliche
  Ausgaben nicht vom Finanzamt zurückholen.
</p>
{{/inline}}

<fieldset class="kern-fieldset">
  <legend class="kern-label">
    Möchten Sie die Kleinunternehmerregelung nutzen?
  </legend>
  <div class="kern-fieldset__body">
    <div class="kern-form-check">
      <input
        class="kern-form-check__radio"
        id="kleinunternehmen-ja"
        type="radio"
        value="ja"
        checked
        name="kleinunternehmenBool"
        {{#is kleinunternehmenBool "ja"}}checked{{/is}}
      /><label class="kern-label" for="kleinunternehmen-ja">Ja</label>
    </div>
    <div class="kern-form-check">
      <input
        class="kern-form-check__radio"
        id="kleinunternehmen-nein"
        type="radio"
        value="nein"
        name="kleinunternehmenBool"
        {{#is kleinunternehmenBool "nein"}}checked{{/is}}
      /><label class="kern-label" for="kleinunternehmen-nein">Nein</label>
    </div>
  </div>
</fieldset>
{{/question}}
