<div class="kern-stack">
  <div>
    <h2 class="kern-heading-x-large">
      Mit diesen Umsätzen können Sie die Kleinunternehmerregelung nutzen!
    </h2>
    <p class="kern-body">
      Da ihre Umsätze weniger als 25.000 € betragen fallen Sie unter die
      Kleinunternehmerregelung.
    </p>
    <ul class="kern-list kern-list--bullet">
      <li>Sie berechnen keine Umsatzsteuer.</li>
      <li>
        Einfache Buchhaltung: Keine monatlichen Berichte an das Finanzamt nötig.
      </li>
      <li>
        Wichtig: Sie erhalten die Steuer für Ihre eigenen Einkäufe (z. B.
        Werkzeug) nicht zurück.
      </li>
    </ul>
  </div>

  <form action="/umsatz/kleinunternehmerregelung" method="post">
    <div class="kern-btn-wrapper">
      <button class="kern-btn kern-btn--primary">
        <span class="kern-label">Weiter</span>
      </button>
    </div>
  </form>
</div>
