{{#> question edit=edit step=2 max=3 section="Umsätze" title="Haben Sie sich in
den letzten 5 Jahren gegen die Kleinunternehmerregelung entschieden?"
action="/umsatz/kleinunternehmerregelung-verzicht"}} {{#*inline "intro"}}
<p class="kern-body">
  Falls Sie bereits ein Unternehmen führen oder geführt haben und sich dort
  aktiv gegen die Kleinunternehmerregelung entschieden haben, sind Sie für 5
  Jahre an diese Wahl gebunden.
</p>
{{/inline}}

<fieldset class="kern-fieldset">
  <legend class="kern-label kern-sr-only">
    In den letzten 5 Jahren gegen Kleinunternehmerregelung entschieden
  </legend>
  <div class="kern-fieldset__body">
    <div class="kern-form-check">
      <input
        class="kern-form-check__radio"
        id="verzicht-ja"
        type="radio"
        value="ja"
        name="verzichtBool"
        {{#is session.verzichtBool "ja"}}checked{{/is}}
      /><label class="kern-label" for="verzicht-ja">Ja</label>
    </div>
    <div class="kern-form-check">
      <input
        class="kern-form-check__radio"
        id="verzicht-nein"
        type="radio"
        value="nein"
        name="verzichtBool"
        {{#is session.verzichtBool "nein"}}checked{{/is}}
      /><label class="kern-label" for="verzicht-nein">Nein</label>
    </div>
  </div>
</fieldset>
{{/question}}
