<div class="kern-stack">
  <div>
    <h2 class="kern-heading-x-large">
      Haben Sie in den letzten 5 Jahren auf die Kleinunternehmerregelung
      verzichtet?
    </h2>
    <p class="kern-body">
      Für die Kleinunternehmerregelung werden Umsätze aus allen Ihren
      Unternehmen betrachtet.
    </p>
  </div>

  <form
    class="kern-stack kern-gap-xl"
    action="/umsatz/weitere-unternehmen-gesamt"
    method="post"
  >
    <fieldset class="kern-fieldset">
      <legend class="kern-label kern-sr-only">Weitere Unternehmen</legend>
      <div class="kern-fieldset__body">
        <div class="kern-form-check">
          <input
            class="kern-form-check__radio"
            id="weitereunternehmen-ja"
            type="radio"
            value="ja"
            checked
            name="weitereunternehmenbool"
          /><label class="kern-label" for="weitereunternehmen-ja">Ja</label>
        </div>
        <div class="kern-form-check">
          <input
            class="kern-form-check__radio"
            id="weitereunternehmen-nein"
            type="radio"
            value="nein"
            name="weitereunternehmenbool"
          /><label class="kern-label" for="weitereunternehmen-nein">Nein</label>
        </div>
        <div class="kern-btn-wrapper">
          <button class="kern-btn kern-btn--primary">
            <span class="kern-label">Weiter</span>
          </button>
        </div>
      </div>
    </fieldset>
  </form>
</div>
