{{#> question edit=edit step=3 max=3 section="Umsätze" title="Schätzen Sie jetzt
Ihre Umsatzsteuer für dieses Jahr" action="/umsatz/umsatzsteuer"}} {{#*inline
"intro"}}
<p class="kern-body">
  Mit dieser Angabe legt das Finanzamt fest, wie oft Sie Ihre
  Umsatzsteuer-Voranmeldung abgeben müssen.
</p>
<p class="kern-body">
  Liegt Ihre geschätzte Steuer im Jahr unter 9.000 €, reicht eine Abgabe alle
  drei Monate. Sonst müssen Sie die Meldung monatlich einreichen.
</p>
{{/inline}}

<div class="kern-form-input">
  <label class="kern-label" for="ust-dieses-jahr"
    >Umsatzsteuer dieses Jahr</label
  >
  <div class="kern-input-group">
    <input
      class="kern-form-input__input"
      id="ust-dieses-jahr"
      name="ustDiesesJahr"
      type="text"
      inputmode="numeric"
      value="{{ session.ustDiesesJahr }}"
    />
    <span class="kern-input-group-text">Euro</span>
  </div>
</div>

<!-- <div class="kern-form-input"> -->
<!--   <label class="kern-label" for="ust-naechstes-jahr" -->
<!--     >Umsatzsteuer nächstes Jahr</label -->
<!--   > -->
<!--   <div class="kern-input-group"> -->
<!--     <input -->
<!--       class="kern-form-input__input" -->
<!--       id="ust-naechstes-jahr" -->
<!--       name="ustNaechstesJahr" -->
<!--       type="text" -->
<!--       inputmode="numeric" -->
<!--       value="{{ session.ustNaechstesJahr }}" -->
<!--     /> -->
<!--     <span class="kern-input-group-text">Euro</span> -->
<!--   </div> -->
<!-- </div> -->
{{/question}}
