{{#> question edit=edit step=2 max=3 section="Umsätze" title="Haben Sie aktuell
weitere Unternehmen auf Ihren Namen?" action="/umsatz/weitere-unternehmen"}}
{{#*inline "intro"}}
<p class="kern-body">
  Für die Kleinunternehmerregelung zählt Ihr Gesamtumsatz, den Sie als
  natürliche Person erzielen. Dazu gehören Gewerbebetriebe und freiberufliche
  Tätigkeiten.
</p>
{{/inline}}

<fieldset class="kern-fieldset">
  <legend class="kern-label kern-sr-only">Weitere Unternehmen</legend>
  <div class="kern-fieldset__body">
    <div class="kern-form-check">
      <input
        class="kern-form-check__radio"
        id="weitereunternehmen-ja"
        type="radio"
        value="ja"
        name="weitereunternehmenbool"
        {{#is session.weitereunternehmenbool "ja"}}checked{{/is}}
      /><label class="kern-label" for="weitereunternehmen-ja">Ja</label>
    </div>
    <div class="kern-form-check">
      <input
        class="kern-form-check__radio"
        id="weitereunternehmen-nein"
        type="radio"
        value="nein"
        name="weitereunternehmenbool"
        {{#is session.weitereunternehmenbool "nein"}}checked{{/is}}
      /><label class="kern-label" for="weitereunternehmen-nein">Nein</label>
    </div>
  </div>
</fieldset>
{{/question}}
