{{#> question edit=edit step=2 max=3 section="Umsätze" title="Liegt Ihr
voraussichtlicher Gesamtumsatz aus allen Tätigkeiten unter 25.000 €?"
action="/umsatz/weitere-unternehmen-gesamt"}} {{#*inline "intro"}}
<p class="kern-body">
  Für die Kleinunternehmerregelung zählt Ihr Gesamtumsatz, den Sie als
  natürliche Person erzielen. Dazu gehören Gewerbebetriebe und freiberufliche
  Tätigkeiten.
</p>
{{/inline}}

<fieldset class="kern-fieldset">
  <legend class="kern-label kern-sr-only">
    Gesamter Umsatz unter 25.000 Euro
  </legend>
  <div class="kern-fieldset__body">
    <div class="kern-form-check">
      <input
        class="kern-form-check__radio"
        id="weiterunternehmengesamt-ja"
        type="radio"
        value="ja"
        checked
        name="weitereUnternehmenGesamtBool"
        {{#is weitereUnternehmenGesamtBool "ja"}}checked{{/is}}
      /><label class="kern-label" for="weiterunternehmengesamt-ja">Ja</label>
    </div>
    <div class="kern-form-check">
      <input
        class="kern-form-check__radio"
        id="weiterunternehmengesamt-nein"
        type="radio"
        value="nein"
        name="weitereUnternehmenGesamtBool"
        {{#is weitereUnternehmenGesamtBool "nein"}}checked{{/is}}
      /><label class="kern-label" for="weiterunternehmengesamt-nein"
        >Nein</label
      >
    </div>
  </div>
</fieldset>
{{/question}}
